---
layout : base.njk
title : Homeschool - North
coach:
    name: Ali Sensintaffar
    email: asensintaffar@swimmaccarolina.org
    phone: (980) 850-9391
---

<main id="main" class="bg-gray-100 overflow-hidden">

    {% banner title, {image: 'homeschool.jpg'} %}

    <div class="container py-6">
        <p>
            <a href="/">Home</a> /
            <a href="/homeschool/">Homeschool</a> /
            {{ title }}
        </p>

        <p class="lead">
            Structured with homeschool families in mind, we offer four different levels.<br>
            Independent swimmers ages 4 to 18 years old are welcome.<br>
            Multiple levels and ages are taught simultaneously in the same pool during the school day.<br>
            Convenient for families of multiple swimmers!<br>
            Fulfills North Carolina State PE requirements.
        </p>

        <div class="card p-4 mb-4">
            <h2>Excellent Program for swimmers who want to:</h2>

            <ul>
                <li>Exercise for recreational swimming and advance their technique</li>
                <li>Develop skills needed to earn Boy Scouts Swimmer Merit Badge</li>
                <li>Develop skills needed for Girl Scouts programs, such as ShapeUP!</li>
                <li>Improve Strength/Agility in a non-impact/aerobic conditioning program</li>
                <li>Learn fundamental racing technique for competitive swimming or triathlons</li>
            </ul>
        </div>

        <div class="card p-4 mb-4">
            <div class="flex flex-wrap -mx-4">

                <div class="w-full md:w-1/2 p-4">
                    <h2>Structure</h2>

                    <ul>
                        <li>Homeschool Levels 1 &amp; 2 classes are held in the 25-yard pool and are 30 minutes in length.</li>
                        <li>Homeschool Level 3 classes are held in the 50-meter competition pool and are 45 minutes in length.</li>
                        <li>Homeschool Level 4 classes are held in the 50-meter competition pool and are 60 minutes in length.</li>
                        <li>Classes are offered twice a week from September to May; you can register for 1 or 2 classes per week.</li>
                        <li>Tuition is billed to your credit card on file on the first of each month.</li>
                        <li>We do not offer make-up classes, class credit, or refunds for missed classes.</li>
                        <li>Non-Independent swimmers will be asked to register for Swim School Lessons held simultaneously.</li>
                    </ul>
                </div>

                <div class="w-full md:w-1/2 p-4">
                    <h2>Pricing</h2>
                    <ul>
                        <li>Annual Registration Fee (includes swim cap and t-shirt)
                            <ul class="list-none">
                                <li>$32 for first swimmer</li>
                                <li>$26 for second swimmer</li>
                                <li>$22 for third swimmer</li>
                                <li>Free for fourth+ swimmer</li>
                                <li>Registration Fee required to be paid to be placed on the waiting list</li>
                            </ul>
                        </li>
                        <li>Base Tuition Price
                            <ul class="list-none">
                                <li>$20 per class, 4 classes are $80.</li>
                                <li>If there are 5 classes in the month you will be charged for the additional class.</li>
                                <li>Less than 4 classes in the month will be prorated.</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card p-4 mb-4">
            <div class="flex flex-wrap -mx-4">
                <div class="w-full md:w-1/2 lg:w-1/4 p-4">
                    <h2 class="separator-left text-2xl">Homeschool Level 1</h2>
                    <ul>
                        <li>Swimmers will have a coach in the water</li>
                        <li>Focusing on technique and endurance for Freestyle and Backstroke</li>
                        <li>Must be an independent swimmer</li>
                        <li>Held in 25-yard pool</li>
                    </ul>
                </div>

                <div class="w-full md:w-1/2 lg:w-1/4 p-4">
                    <h2 class="separator-left text-2xl">Homeschool Level 2</h2>
                    <ul>
                        <li>Swimmers will have a coach in the water</li>
                        <li>Focusing on technique and endurance for Breaststroke and Butterfly</li>
                        <li>Must be able to swim 25 yards Freestyle and Backstroke</li>
                        <li>Held in 25-yard pool</li>
                    </ul>
                </div>

                <div class="w-full md:w-1/2 lg:w-1/4 p-4">
                    <h2 class="separator-left text-2xl">Homeschool Level 3</h2>
                    <ul>
                        <li>Coach will be working from deck and no longer in the water</li>
                        <li>Focusing on technique and endurance for Breaststroke and Butterfly</li>
                        <li>Must be able to swim 25 yards with "legal" strokes in Freestyle, Backstroke and Breaststroke</li>
                        <li>Held in 50-meter pool, depth starts at 6 feet</li>
                        <li>Class will introduce competitive swimming starts and turns</li>
                        <li>Class will develop skills and technique in all 4 strokes</li>
                    </ul>
                </div>

                <div class="w-full md:w-1/2 lg:w-1/4 p-4">
                    <h2 class="separator-left text-2xl">Homeschool Level 4</h2>
                    <ul>
                        <li>Coach will be working from deck and no longer in the water</li>
                        <li>Focusing on advanced technique and endurance for all 4 strokes</li>
                        <li>Must be able to swim 25 yards with "legal" strokes in Freestyle, Backstroke, Breaststroke and Butterfly</li>
                        <li>Held in 50-meter pool, depth starts at 6 feet</li>
                        <li>Class will work on technique and endurance for all 4 strokes</li>
                        <li>Class will learn advanced competitive swimming starts and turns</li>
                        <li>Class will focus on advanced competitive sets and skills</li>
                    </ul>
                </div>
            </div>
        </div>

         <div class="card p-4">
            <div class="text-right">
                <a href="https://app3.jackrabbitclass.com/portal/ppLogin.asp?id=541680" class="button button--small mb-3" target="_blank">
                Portal Login
                </a>
            </div>

            <h3 class="separator-center">North Region Class Registration</h3>
            <div class="bg-yellow-300 p-6 my-6 text-center">
                <p>2025-2026 Homeschool Schedule Coming Soon</p>
            </div>
        </div>

        <div class="card p-4 mt-4">
          {% coachContact coach.name, coach.email, coach.phone %}
        </div>

        <div class="container card p-4 my-6">
            {% include 'hffa-map.njk' %}
        </div>
    </div>

</main>