---
layout : base.njk
title : Homeschool - North
coach:
    name: Jen Bronson
    email: jbronson@swimmaccarolina.org
---

<main id="main" class="bg-gray-100 overflow-hidden">

    {% banner title, {image: 'homeschool.jpg'} %}

    <div class="container py-6">
        <p>
            <a href="/">Home</a> /
            <a href="/homeschool/">Homeschool</a> /
            {{ title }}
        </p>

        <p class="lead">
            Structured with homeschool families in mind, we offer four different levels.<br>
            Independent swimmers ages 4 to 18 years old are welcome.<br>
            Multiple levels and ages are taught simultaneously in the same pool during the school day.<br>
            Convenient for families of multiple swimmers!<br>
            Fulfills North Carolina State PE requirements.
        </p>

        <div class="card p-4 mb-4">
            <h2>Excellent Program for swimmers who want to:</h2>

            <ul>
                <li>Exercise for recreational swimming and advancing their technique</li>
                <li>Develop skills needed to earn Boy Scouts Swimmer Merit Badge</li>
                <li>Develop skills needed for Girl Scouts programs, such as ShapeUP!</li>
                <li>Improve Strength/Agility in a non-impact/aerobic conditioning program</li>
                <li>Learn fundamental racing technique for competitive swimming or triathlons</li>
            </ul>
        </div>

        <div class="card p-4 mb-4">
            <div class="flex flex-wrap -mx-4">

                <div class="w-full md:w-1/2 p-4">
                    <h2>Structure</h2>

                    <ul>
                        <li>Homeschool Levels 1 &amp; 2 classes are held in the 25-yard pool and are 30 minutes in length.</li>
                        <li>Homeschool Level 3 classes are held in the 50-meter competition pool and are 45 minutes in length.</li>
                        <li>Homeschool Level 4 classes are held in the 50-meter competition pool and are 60 minutes in length.</li>
                        <li>Classes are offered twice a week from September to May; you can register for 1 or 2 classes per week.</li>
                        <li>Tuition is billed to your credit card on file on the first of each month.</li>
                        <li>We do not offer make-up classes, class credit, or refunds for missed classes.</li>
                        <li>Non-Independent swimmers will be asked to register for Swim School Lessons held simultaneously.</li>
                    </ul>
                </div>

                <div class="w-full md:w-1/2 p-4">
                    <h2>Pricing</h2>
                    <ul>
                        <li>Annual Registration Fee (includes swim cap and t-shirt)
                            <ul class="list-none">
                                <li>$32 for first swimmer</li>
                                <li>$26 for second swimmer</li>
                                <li>$22 for third swimmer</li>
                                <li>Free for fourth+ swimmer</li>
                                <li>Registration Fee required to be paid to be placed on the waiting list</li>
                            </ul>
                        </li>
                        <li>Base Tuition Price
                            <ul class="list-none">
                                <li>$20 per class, 4 classes are $80.</li>
                                <li>If there are 5 classes in the month you will be charged for the additional class.</li>
                                <li>Less than 4 classes in the month will be prorated.</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card p-4 mb-4">
            <div class="flex flex-wrap -mx-4">
                <div class="w-full md:w-1/2 lg:w-1/4 p-4">
                    <h2 class="separator-left text-2xl">Homeschool Level 1</h2>
                    <ul>
                        <li>Swimmers will have a coach in the water</li>
                        <li>Focusing on technique and endurance for Freestyle and Backstroke</li>
                        <li>Must be an independent swimmer</li>
                        <li>Held in 25-yard pool</li>
                    </ul>
                </div>

                <div class="w-full md:w-1/2 lg:w-1/4 p-4">
                    <h2 class="separator-left text-2xl">Homeschool Level 2</h2>
                    <ul>
                        <li>Swimmers will have a coach in the water</li>
                        <li>Focusing on technique and endurance for Breaststroke and Butterfly</li>
                        <li>Must be able to swim 25 yards Freestyle and Backstroke</li>
                        <li>Held in 25-yard pool</li>
                    </ul>
                </div>

                <div class="w-full md:w-1/2 lg:w-1/4 p-4">
                    <h2 class="separator-left text-2xl">Homeschool Level 3</h2>
                    <ul>
                        <li>Coach will be working from deck and no longer in the water</li>
                        <li>Focusing on technique and endurance for Breaststroke and Butterfly</li>
                        <li>Must be able to swim 25 yards with "legal" strokes in Freestyle, Backstroke and Breaststroke</li>
                        <li>Held in 50-meter pool, depth starts at 6 feet</li>
                        <li>Class will introduce competitive swimming starts and turns</li>
                        <li>Class will develop skills and technique in all 4 strokes</li>
                    </ul>
                </div>

                <div class="w-full md:w-1/2 lg:w-1/4 p-4">
                    <h2 class="separator-left text-2xl">Homeschool Level 4</h2>
                    <ul>
                        <li>Coach will be working from deck and no longer in the water</li>
                        <li>Focusing on advanced technique and endurance for all 4 strokes</li>
                        <li>Must be able to swim 25 yards with "legal" strokes in Freestyle, Backstroke, Breaststroke and Butterfly</li>
                        <li>Held in 50-meter pool, depth starts at 6 feet</li>
                        <li>Class will work on technique and endurance for all 4 strokes</li>
                        <li>Class will learn advanced competitive swimming starts and turns</li>
                        <li>Class will focus on advanced competitive sets and skills</li>
                    </ul>
                </div>
            </div>
        </div>

         <div class="card p-4">
            <div class="text-right">
                <a href="https://app3.jackrabbitclass.com/portal/ppLogin.asp?id=541680" class="button button--small mb-3" target="_blank">
                Portal Login
                </a>
            </div>

            <h3 class="separator-center">North Region Class Registration</h3>
            {% if jackrabbit.homeschoolNorth.sessions.length > 0 %}
            {% for session in jackrabbit.homeschoolNorth.sessions %}
            <div class="card p-4 my-6">
                <div
                    x-data="{ lessonrow: {} }"
                    x-init="fetch('https://app.jackrabbitclass.com/jr3.0/Openings/OpeningsJson?OrgID={{ jackrabbit.homeschoolNorth.orgId }}&amp;Session={{ session.session }}')
                    .then(response => {
                        if (!response.ok) alert(`Something went wrong: ${response.status} - ${response.statusText}`)
                        return response.json()
                    })
                    .then(
                        function(data){
                            const formatClass = (c) => {
                            c.meeting_days = macfunctions.formatDays(c.meeting_days);
                            c.meeting_days = c.meeting_days.sort(macfunctions.sortDays);
                            return {
                                name: c.name,
                                class: c.name,
                                meeting_days: c.meeting_days,
                                formatted_meeting_days: c.meeting_days.join(', '),
                                reg_start_date: c.reg_start_date,
                                start_date: c.start_date,
                                end_date: c.end_date,
                                start_time: c.start_time,
                                end_time: c.end_time,
                                openings: c.openings.calculated_openings,
                                tuitionFee: c.tuition.fee,
                                online_reg_link: c.online_reg_link
                            };
                        };

                        const sortClasses = (a, b) => {
                            let day1 = a.meeting_days[0].toLowerCase();
                            let day2 = b.meeting_days[0].toLowerCase();
                            const dateCompare = Date.parse(b.reg_start_date) - Date.parse(a.reg_start_date);
                            const daysCompare = macfunctions.dayDictionary[day1] - macfunctions.dayDictionary[day2];
                            return dateCompare || daysCompare;
                        };

                    return lessonrow = data.rows.map(formatClass).sort(sortClasses);
                    }
                )
                ">
                    <table class="responsive-table">
                        <thead>
                            <tr>
                                <th scope="col"> Days </th>
                                <th scope="col"> Class </th>
                                <th scope="col"> Times </th>
                                <th scope="col" class="md:text-center"> Openings </th>
                                <th scope="col"> Session Starts </th>
                                <th scope="col"> Session Ends </th>
                                <th scope="col"> Monthly Tuition </th>
                                <th scope="col"> Register </th>
                            </tr>
                        </thead>

                        <tbody>
                            <template x-for="(item, index) in lessonrow" :key="index">
                            <tr>
                                <td class="text-center md:text-left font-bold" x-text="item.meeting_days"></td>
                                <td class="text-center md:text-left font-bold" x-text="item.class"></td>
                                <td class="text-right md:text-left" data-heading="Times" x-text="macfunctions.tConvert(item.start_time) + '-' + macfunctions.tConvert(item.end_time)"></td>
                                <td class="text-right md:text-center" data-heading="Openings" x-text="Math.sign(item.openings) === -1 ? '0' : item.openings"></td>
                                <td class="text-right md:text-left" data-heading="Class Starts" x-text="macfunctions.dateConvert(item.start_date)"></td>
                                <td class="text-right md:text-left" data-heading="Class Ends" x-text="macfunctions.dateConvert(item.end_date)"></td>
                                <td class="text-right md:text-left" data-heading="Tuition" x-text="'$' + item.tuitionFee"></td>
                                <td class="text-center md:text-left">
                                <template x-if="item.online_reg_link.length > 0">
                                        <a x-bind:href="macfunctions.urlParamClean(item.online_reg_link)" class="button button--small w-full md:w-auto" target="_blank">
                                            <span x-text="item.openings < 1 ? 'Join Waitlist' : 'Register'"></span>
                                        </a>
                                    </template>

                                    <template x-if="item.online_reg_link.length === 0">
                                        <p>Check Back Soon!</p>
                                    </template>
                                </td>
                            </tr>
                            </template>
                        </tbody>
                    </table>

                </div>
            </div>
            {% endfor %}
            {% endif %}

            {% if jackrabbit.homeschoolNorth.sessions.length === 0 %}
            <div class="card p-4 my-6">
                <div class="bg-red-100 border border-red-900 p-4 my-6">There are no open Sessions at this time.</div>
            </div>
            {% endif %}
        </div>

        <div class="card p-4 mt-4">
          {% coachContact coach.name, coach.email, coach.phone %}
        </div>

        <div class="container card p-4 my-6">
            {% include 'hffa-map.njk' %}
        </div>
    </div>

</main>