---
layout : base.njk
title : Homeschool
---

<main id="main" class="bg-gray-100">

    {% banner title, {image: "homeschool.jpg"} %}

    <div class="container py-6">
        <div class="flex flex-wrap -mx-4 justify-center">
            <div class="w-full md:w-1/2 lg:w-1/3 p-4">
                <a href="homeschool-north/" class="card h-full overflow-hidden">
                    <div class="card-image h-64 bg-center bg-cover" style="background-image: url('/static/cards/hffa.jpg');"></div>
                    <div class="text-gray-900 p-4">
                        <h2>Homeschool North</h2>
                    </div>
                </a>
            </div>

            <div class="w-full md:w-1/2 lg:w-1/3 p-4">
                <a href="homeschool-south/" class="card h-full overflow-hidden">
                    <div class="card-image h-64 bg-center bg-cover" style="background-image: url('/static/cards/latin.jpg');"></div>
                    <div class="text-gray-900 p-4">
                        <h2>Homeschool South</h2>
                    </div>
                </a>
            </div>
        </div>

       <div class="max-w-4xl mx-auto">
            <p>
               SwimMAC Carolina's homeschool programs are designed to support children's aquatic development within a welcoming and flexible environment.
               Our focus is on building essential water skills, promoting water safety awareness, and refining swimming techniques—all while encouraging
               social engagement among peers.
            </p>

            <p>
                Tailored to accommodate a wide range of ages and abilities, the classes follow a structured yet adaptable curriculum that allows
                swimmers to progress at their own pace. From foundational skills like floating and basic strokes to advanced technique development,
                each session is designed to build confidence and proficiency in the water.
                SwimMAC's technique-driven approach ensures every swimmer grows to become both confident and skilled.
            </p>

            <p>
                Additionally, our homeschool swimming program fulfills physical education (PE) requirements, providing a convenient and effective way
                for students to meet their fitness goals.
            </p>

            <p>
                We offer flexible scheduling options to accommodate the unique routines of homeschool families, making it easier to balance swimming
                instruction with daily life.
            </p>

            <p>
                Beyond skill-building, our program fosters a supportive community where children can connect, learn, and grow together
                through shared aquatic experiences.
            </p>
       </div>
    </div>

</main>