---
layout: job.njk
title: Swim Instructors
date: 2021-07-14
---

<div class="flex flex-wrap -mx-4">
  <div class="w-full md:w-1/2 p-4">
    <h3>Do you love to swim and work with children? <br>
    Looking for a job where you have fun while you work?</h3>
    <p><strong>A job at SwimMAC may be just what you’ve been looking for!</strong></p>
    <p>We’re currently looking for fun energetic people to become Swim Instructors for our South location at 9850 Providence Rd., Charlotte, NC 28277.</p>
    <p>If you’re up for the challenge, fill out the form below and we’ll contact you to setup an initial interview.</p>
  </div>

  <div class="w-full md:w-1/2 p-4">
    <div>
        <img class="" src="/static/swim-instructor.jpg" alt="Swim instructor teaching kids">
    </div>
    <div class="mt-8">
        <img src="/static/swim-instructor-2.jpg" alt="Swim instructor with a student">
    </div>
  </div>

</div>