<h2 class="separator-center">Location Details</h2>

<div class="flex flex-wrap -mx-4">
    <div class="w-full md:w-1/2 p-4 text-center">
        <h3>Charlotte Latin</h3>
        <p>
            9850 Providence Rd.<br>
            Charlotte, NC 28277<br>
            <a href="https://goo.gl/maps/ichfmBkF5Ym" target="_blank" rel="noopener noreferrer">
                Get Directions on Google Maps
            </a>
        </p>
    </div>

    <div class="w-full md:w-1/2 p-4 text-center">
        <h3>Questions?</h3>
        <p>
            Contact Nicolle Hollmon<br class="">
            <a href="mailto:nhollmon@swimmaccarolina.org">nhollmon@swimmaccarolina.org</a>
        </p>
    </div>
</div>