<h2 class="separator-center">Location Details</h2>

<div class="flex flex-wrap -mx-4">
    <div class="w-full md:w-1/2 p-4 text-center">
        <h3>Huntersville Family Fitness & Aquatics (HFFA)</h3>
        <p>
            11725 Verhoeff Drive<br>
            Huntersville, NC 28078<br>
            <a href="https://goo.gl/maps/MimFpWgLwiy" target="_blank" rel="noopener noreferrer">
                Get Directions on Google Maps
            </a>
        </p>
    </div>

    <div class="w-full md:w-1/2 p-4 text-center">
        <h3>Questions?</h3>
        <p>
            Contact Martha Hocutt<br class="">
            <a href="mailto:mhocutt@swimmaccarolina.org">mhocutt@swimmaccarolina.org</a>
        </p>
    </div>
</div>