<a href="/private-lessons/pro-tutors/" class="flex flex-wrap card overflow-hidden my-6">
    <img src="/static/cards/pro-tutors.jpg" alt="Swimmers practicing diving off swim blocks" class="w-1/2 md:w-1/5">
    <div class="text-gray-900 w-1/2 md:w-4/5 p-4">
        <h3 class="entry-title">Pro-Tutors</h3>
        <p>
            "Compete to Excel" – SwimMAC athletes continue to progress as well as take ownership to put it all together for the
            purpose of excelling toward their career goals.
        </p>
    </div>
</a>