<a href="/private-lessons/pro-tutors/" class="card overflow-hidden my-6 flex">
    <div class="card-image bg-center bg-cover w-full md:w-1/5" style="background-image: url('/static/chill.jpg');"></div>
    <div class="text-gray-900 w-full md:w-4/5 p-4">
        <h3 class="entry-title">Pro-Tutors</h3>
        <p>
            "Compete to Excel" – SwimMAC athletes continue to progress as well as take ownership to put it all together for the
            purpose of excelling toward their career goals.
        </p>
    </div>
</a>