<a href="/private-lessons/pro-tutors/" class="flex flex-wrap card overflow-hidden my-6">
    <div class="card-image bg-center bg-cover w-full md:w-2/5 h-32 md:h-auto" style="background-image: url('/static/cards/pro-tutors.jpg');"></div>
    <div class="text-gray-900 w-full md:w-3/5 p-4">
        <h3 class="entry-title">Pro-Tutors</h3>
        <p>
            "Compete to Excel" – SwimMAC athletes continue to progress as well as take ownership to put it all together for the
            purpose of excelling toward their career goals.
        </p>
    </div>
</a>