<h2 class="separator-center">Questions?</h2>

<div class="flex flex-wrap -mx-4 justify-around">
  <div class="w-full md:w-auto p-4 text-center">
      <h3 class="separator-center">North Region</h3>
      <h4>{{ coaches.north.name }}</h4>
      <p>
        <a href="mailto:{{ coaches.north.email }}">{{ coaches.north.email }}</a>
      </p>
  </div>

  <div class="w-full md:w-auto p-4 text-center">
      <h3 class="separator-center">South Region</h3>
      <h4>{{ coaches.south.name }}</h4>
      <p>
        <a href="mailto:{{ coaches.south.email }}">{{ coaches.south.email }}</a>
      </p>
  </div>
</div>