{% set formTryoutNameValue = formTryoutNameValue | default('Null') %}
<form class="form js-netlify-ajax-form" name="tryout-request" method="POST" action="/thank-you/" netlify-honeypot="bot-field" data-netlify="true">
  <input type="hidden" name="form-name" value="tryout-request">
  <input type="hidden" name="tryout-name" value="{{ formTryoutNameValue }}">

  <div class="hidden js-form-status p-3 rounded" role="status" aria-live="polite"></div>

  <div class="flex flex-wrap -mx-2">
      <div class="w-full md:w-2/5 px-2 mb-4">
          <label class="block" for="name">Full Name (required)</label>
          <input class="w-full" id="name" type="text" name="name" autocomplete="name" required="required">
      </div>

      <div class="w-full md:w-2/5 px-2 mb-4">
          <label class="block" for="swimmer-name">Swimmer's Name</label>
          <input class="w-full" id="swimmer-name" type="text" name="swimmer-name">
      </div>

      <div class="w-full md:w-1/5 px-2 mb-4">
          <label class="block" for="swimmer-age">Swimmer's Age</label>
          <input class="w-full" id="swimmer-age" type="number" name="swimmer-age">
      </div>
  </div>

  <div class="flex flex-wrap -mx-2">
      <div class="w-full md:w-1/2 px-2 mb-4">
          <label class="block" for="email">Email (required)</label>
          <input class="w-full" id="email" type="email" name="email" autocapitalize="off" autocomplete="email" required="required">
      </div>

      <div class="w-full md:w-1/2 px-2 mb-4">
          <label class="block" for="phone">Phone Number</label>
          <input class="w-full" id="phone" type="tel" name="phone" autocapitalize="off" autocomplete="tel">
      </div>
  </div>

  <div class="mb-4">
      <label class="block" for="notes">Let us know a little about your swimmer's abilities</label>
      <textarea rows="3" class="w-full" id="notes" name="notes" placeholder="Any additional information we should know"></textarea>
  </div>

  <div class="hidden">
      <label>Don't fill this out if you're human:
      <input name="bot-field"/></label>
  </div>

  <div class="text-center mb-2">
      <button class="button" type="submit">Schedule Try Out</button>
  </div>
</form>
