---
layout : base.njk
title : Mac Fit
coach:
    name: Carrie Andrews
    email: candrews@swimmaccarolina.org
---

{% banner title, {image: 'jsl.jpg'} %}

<main id="main" class="bg-gray-100 py-6">
    {% include 'covid-notice.njk' %}

    <div class="container overflow-hidden">

        <p>
            <a href="/">Home</a> /
            <a href="/adult-programs/">Adult Programs</a> /
            {{ title }}
        </p>


        <p class="lead">
            These classes are geared toward those looking for low impact or supplemental fitness classes.
            Programs are centered on low impact fitness activities.
        </p>

        <div class="card p-4 my-6">
            <h2>Benefits Include</h2>
            <div class="flex flex-wrap -mx-4">
                <div class="w-full md:w-1/2 p-4">
                    <ul>
                        <li>Strength</li>
                        <li>Flexibility</li>
                        <li>Cardiovascular endurance</li>
                        <li>Muscular balance</li>
                        <li>Improved back health</li>
                    </ul>
                </div>

                <div class="w-full md:w-1/2 p-4">
                    <ul>
                        <li>Increased energy level</li>
                        <li>Weight control</li>
                        <li>Prevention of osteoporosis</li>
                        <li>Positive mental health</li>
                        <li>Opportunity to meet wonderful friends!</li>
                    </ul>
               </div>
            </div>
        </div>

        <div class="card p-4 my-6">
            <h2>Classes Offered</h2>
            <div class="flex flex-wrap -mx-4">
                <div class="w-full md:w-1/2 p-4">
                    <p class="mini-header-left"><strong>Unlimited Aqua-Aerobics/Shallow Water Class</strong></p>
                    <ul>
                        <li>No Swimming Required</li>
                        <li>Water Shoes are recommended but not required</li>
                        <li>Cardio, Interval Training, and Muscle Work all rolled into a state-of-the-art all around workout!</li>
                    </ul>
                </div>

                <div class="w-full md:w-1/2 p-4">
                    <p><strong>Unlimited Muscle Strengthening and Flexibility Class</strong></p>
                    <ul>
                        <li>Dry Land</li>
                        <li>Supportive Shoes Required</li>
                        <li>Stretching, Weight Training, Resistance Bands, Core, Back and Abdominal Strengthening, Muscle Balance</li>
                    </ul>
               </div>
            </div>
        </div>

        <div class="card p-4 my-6">
            <h2>Schedule</h2>
            <div class="flex flex-wrap -mx-4">
                <div class="w-full md:w-1/2 p-4">
                    <h3>Location</h3>
                    <p><strong>Charlotte Latin School</strong><br>
                    9850 Providence Rd<br>
                    Charlotte, NC 28277</p>
                </div>

                <div class="w-full md:w-1/2 p-4">
                    <h3>Begins Monday, August 29th</h3>
                    <p><strong>Aqua-Aerobics</strong><br>
                    Monday/Wednesday/Friday 7:30a.m to 8:30 a.m.</p>
                    <p><strong>Muscle/Flex</strong><br>
                    Tuesday and Thursday 7:15a.m to 8:15 a.m.</p>
               </div>
            </div>
        </div>

        <div class="card p-4 my-6">
            <h2>Tuition</h2>
            <div class="flex flex-wrap -mx-4">
                <div class="w-full md:w-1/2 p-4">
                    <h3>2 WAYS TO PAY!</h3>
                    <p>$220/Fall for Unlimited Classes (for Sept through Dec) Save $20, One week free for new members</p>
                    <p>$60/month for unlimited water and dry land classes $10/class for individual classes</p>
                </div>

                <div class="w-full md:w-1/2 p-4">
                    <h3>OTHER REGISTRATION INFO</h3>
                    <ul>
                        <li>$15 Registration Fee for first time members, but waived if you register online</li>
                        <li>New members must complete registration form and informed consent</li>
                        <li>Make all checks payable to MAC</li>
                        <li>Semester Tuition is due by September 10th. Monthly Tuition is Due by the 5th of each month</li>
                        <li>Give tuitions to Marieta Smith or Teacher</li>
                        <li>Snow plicy is to follow what Charlotte Latin School decides</li>
                        <li>During holidays call Toni at 704-578-5592</li>
                        <li>Please, no perfumes or perfume lotions as some people are allergic</li>
                        <li>Talking during class is allowed during the first 15 minutes and during water-walk/swim breaks. Please respect the rights of other participants who wish to focus on results and hear the instructor. Thank you in advance for your cooperation.</li>
                    </ul>
               </div>
            </div>
        </div>

        <div class="text-center">
            <h2 class="separator-center">Questions?</h2>
            <h4>Director Toni Branner</h4>

            <p>
                M.A. Exercise Physiologist<br>
                Certified Aqua-Aerobics Instructor
            </p>
            <p>
                Cell: (704) 578-5592<br>
                Pool: (704) 856-5335<br>
            </p>
            <p><a href="mailto:tonibranner@aol.com">tonibranner@aol.com</a></p>
        </div>

    </div>

</main>