---
layout: base.njk
---

<main id="main" class="bg-gray-100 py-6">

  <div class="container">
    <p>
        <a href="/">Home</a> /
        <a href="/employment/">Employment</a> /
        {{ title }}
    </p>

    <h2>{{ title }}</h2>

    <div class="flex flex-wrap -mx-4">
      <div class="w-full lg:w-1/2 p-4">
        <div class="card p-4">
          {{ content | safe }}
        </div>
      </div>

      <div class="w-full lg:w-1/2 p-4">
        <div class="card p-4 application-form">
          {% employeeApplicationForm title %}
        </div>
      </div>
    </div>
  </div>

  <script>
    window.addEventListener('load', function () {

      function formstuff(myForm){
        document.querySelector(".application-form").innerHTML = `<div class="text-center">
          <h3>Great!</h3>
          <p>Thanks for your interest in the {{title}} position. Someone will reach out to you soon.</p>
        </div>`;
      }

      const handleSubmit = (e) => {
        e.preventDefault()
        let myForm = document.querySelector(".employment-form");
        let formData = new FormData(myForm);
        fetch('/', {
            method: 'POST',
            // headers: { "Content-Type": "multipart/form-data" },
            body: new URLSearchParams(formData).toString()
        }).then(() => formstuff(myForm)).catch((error) => alert(error));
      }

      document.querySelector(".employment-form").addEventListener("submit", handleSubmit);
    })
  </script>
</main>