---
layout: base.njk
---

<main id="main" class="bg-gray-100 py-6">

  <div class="container">
    <p>
        <a href="/">Home</a> /
        <a href="/staff/">Staff</a> /
        {{ title }}
    </p>

    <div class="flex flex-wrap">
        {% if staffImage %}
          <img src="{{ staffImage }}" class="rounded filter shadow mr-4" />
        {% endif %}

      <div class="radius drop-shadow-xl card flex-grow">
        <div class="w-full {% if staffImage %}md:w-2/3{% endif %} p-4">
          <h2>{{ title }}</h2>
          <h3>{{ jobTitle }}</h3>
          <p>Email {{ title }} at <a href="mailto:{{ email }}">{{ email }}</a></p>
          {{ bio | safe }}
        </div>
       </div>
    </div>
  </div>

</main>