---
layout : base.njk
title : Teen Fit - South
coach:
    name: Carrie Andrews
    email: candrews@swimmaccarolina.org
---

{% banner title, {image: 'teen-fit.jpg'} %}

<main id="main" class="bg-gray-100 py-6">
    <div class="container overflow-hidden">
        <p>
            <a href="/">Home</a> /
            <a href="/teen-fit/">Teen Fit</a> /
            {{ title }}
        </p>

        <p class="lead">
            SwimMAC’s Middle School Teen Fit (MSTF) or High School Teen Fit (HSTF) offers a chance for your child to improve
            technique in all 4 strokes with individual attention from highly qualified coaches, gain endurance & strength, and have
            fun with swimming! Whether you are looking for a fitness activity, preparing for a school swim team, getting ready for
            summer league, or cross training for other sports, swimming is a great way to stay active and get stronger.
        </p>

        <div class="card p-4">
            <h2>Overview</h2>

            <ul>
                <li>Swim 100 yards of freestyle and 100 yards of backstroke
                <li>Some knowledge of breaststroke and butterfly</li>
            </ul>
        </div>

        <div class="card p-4 my-6">
            <div class="text-right">
                <a href="https://app3.jackrabbitclass.com/portal/ppLogin.asp?id=541681" class="button button--small mb-3" target="_blank">Portal Login</a>
            </div>

            <h3 class="separator-center">Summer Program Clinic 2023</h3>
            <script src="https://app.jackrabbitclass.com/jr3.0/Openings/OpeningsJS?OrgID=541681&session=Summer%20Aux%20Program%20Clinic%202023&hidecols=Gender,Ages,openings,session&style=font-size:16px&sort=days" type="text/javascript"></script>
        </div>

        <div class="card p-4 my-6">
            <h3 class="separator-center">TeenFit Spring 2023</h3>
            <script src="https://app.jackrabbitclass.com/jr3.0/Openings/OpeningsJS?OrgID=541681&session=TeenFit%20Spring%202023&hidecols=Gender,Ages&style=font-size:16px&sort=days" type="text/javascript"></script>

            {% coachContact coach.name, coach.email %}
        </div>

        <div class="container card p-4 my-6">
            {% include 'latin-map.njk' %}
        </div>
    </div>

</main>