---
layout : base.njk
title : Competitive Teams
---
<main id="main" class="bg-gray-100">

    {% banner title, { image: 'banners/competitive.jpg' } %}

    <div class="container py-6">
       <div class="flex flex-wrap -mx-4">
            <div class="w-full md:w-1/2 p-4">
                <a href="/compete/seniors/" class="card h-full overflow-hidden">
                    <div class="card-image h-64 bg-center bg-cover" style="background-image: url('/static/cards/seniors.jpg');"></div>
                    <div class="text-gray-900 p-4">
                        <h2 class="entry-title">Seniors</h2>
                        <p>
                            <strong>Ages 15-18 years old</strong>
                            <br>
                            “Compete to Excel” – SwimMAC athletes continue to progress as well as take ownership to put it all together for the
                            purpose of excelling toward their career goals.
                        </p>
                    </div>
                </a>
            </div>

            <div class="w-full md:w-1/2 p-4">
                <a href="/compete/shark/" class="card h-full overflow-hidden">
                    <div class="card-image h-64 bg-center bg-cover" style="background-image: url('/static/cards/shark.jpg');"></div>
                    <div class="text-gray-900 p-4">
                        <h2 class="entry-title">Shark</h2>
                        <p>
                            <strong>Ages 13-14 years old</strong><br>
                            “Practice to Compete” – Athletes are taught progressive skills &amp; drills in a variety of ways to prepare them for the present and senior level.
                            They will learn race strategies and build upon practice habits &amp; skill development.
                        </p>
                    </div>
                </a>
            </div>

            <div class="w-full md:w-1/2 p-4">
                <a href="/compete/dolphin/" class="card h-full overflow-hidden">
                    <div class="card-image h-64 bg-center bg-cover" style="background-image: url('/static/cards/dolphin.jpg');"></div>
                    <div class="text-gray-900 p-4">
                        <h2 class="entry-title">Dolphin</h2>
                        <p>
                            <strong>Ages 11-12 years old</strong><br>
                            “Learn to Practice” – SwimMAC athletes will progress from the fundamental skills &amp;
                            technique taught in the Marlin Division and continue to build toward an advanced level of learning.
                        </p>
                    </div>
                </a>
            </div>

            <div class="w-full md:w-1/2 p-4">
                <a href="/compete/marlin/" class="card h-full overflow-hidden">
                    <div class="card-image h-64 bg-center bg-cover" style="background-image: url('/static/cards/marlin.jpg');"></div>
                    <div class="text-gray-900 p-4">
                        <h2 class="entry-title">Marlin</h2>
                        <p>
                            <strong>Ages 10 years old and under</strong><br>
                            “FUN”damentals – To teach SwimMAC athletes entering the sport of competitive swimming a great foundation of skill development
                            &amp; technique in a style that can be fun &amp; fruitful for long-term growth in the sport of swimming.
                        </p>
                    </div>
                </a>
            </div>
        </div>

        {% include 'pro-tutors-card.njk' %}

    </div>
</main>