---
layout : base.njk
title : Marlin
coaches :
   north:
      name: Sean Ford
      email: sford@swimmaccarolina.org
   south:
      name: Christie Close
      email: cclose@swimmaccarolina.org
---

<main id="main" class="bg-gray-100">
   {% banner title, {image: 'marlin.jpg'} %}

   <div class="container py-6">

      <p id="breadcrumbs">
         <a href="/">Home</a> /
         <a href="/compete/">Competitive Teams</a> /
        {{ title }}
      </p>

      <p class="lead"><strong>Ages 10 years old and under</strong><br>
        “FUN”damentals - To teach SwimMAC athletes entering the sport of competitive swimming a great foundation of skill development &amp; technique in a style that can be fun &amp; fruitful for long-term growth in the sport of swimming.
      </p>

      <div class="card p-4">
         <h2 class="separator-left">Lessons Approach</h2>
         <div class="flex flex-wrap -mx-4">
            <div class="w-full md:w-1/2 p-4">
               <h3>Overview</h3>
               <ul>
                  <li>Swimmers will learn that outside-the-pool habits &amp; decision-making will have an effect on meets as much as the day-to-day work they put into practices</li>
                  <li>Athletes will compete at the local, state, regional, and potentially national level</li>
                  <li>Progression of racing skills &amp; strategy</li>
                  <li>Character ownership &amp; strength</li>
                  <li>Development/exposure to variety of camp &amp; championship experiences (team to national level)</li>
                  <li>Performance prep (nutrition, rest, recovery, mental edge)</li>
               </ul>
            </div>

            <div class="w-full md:w-1/2 p-4">
               <h3>Structure</h3>
               <ul>
                  <li>Support</li>
                  <li>Serve</li>
                  <li>Layered Commitment</li>
               </ul>
            </div>

         </div>

         {% compTryoutLink %}

         {% include "questions-coach-contact.njk" %}
      </div>
   </div>
</main>
