---
layout : base.njk
title : Pre-Comp 2 - North
coach:
    name: Jen Bronson
    email: jbronson@swimmaccarolina.org
---

<main id="main" class="bg-gray-100  overflow-hidden">

    {% banner title, {image: 'jsl.jpg' } %}

    <div class="container py-6">
        <p>
            <a href="/">Home</a> /
            <a href="/pre-comp/">Pre-Comp</a> /
            <a href="/pre-comp/pre-comp-north">Pre-Comp North</a> /
            {{ title }}
        </p>

        <h2>SwimMAC's Pre-Competitive Program 2 (Pre-Comp 2)<br>
        (formerly Junior Swim League)</h2>

        <p class="lead">
            Take the next big step in your swimmer's journey!
            SwimMAC's Pre-Comp program bridges the gap between swim lessons and year-round competitive swimming.
            Our expert coaches focus on building strong technique, boosting endurance, and growing confidence in all four strokes—all in a fun, team-like environment.
            With practices designed to mirror the structure of a competitive team, Pre-Comp 1 &amp; 2 prepare swimmers to successfully transition onto a competitive swim team.
        </p>

        <div class="card p-4 mb-4">
            <div class="flex flex-wrap -mx-4">
                <div class="w-full md:w-1/2 p-4">
                    <h2>Overview</h2>
                    <p>10 - 13 year old swimmers who can swim</p>
                    <ul>
                        <li>50 yards freestyle with bilateral side breathing</li>
                        <li>50 yards backstroke with straight leg kicking &amp; body rotation</li>
                        <li>50 yards breaststroke with legal breaststroke kick (feet flexed &amp; toes turned out)</li>
                        <li>50 yards butterfly with dolphin kick, knowledge of stroke concept to build on</li>
                        <li>Swimmers must be comfortable diving into the pool</li>
                    </ul>
                </div>

                <div class="w-full p-4">
                    <h2>Pricing</h2>

                    <ul>
                        <li>Annual (September-August) Registration Fees (includes swim cap and t-shirt)
                            <ul class="list-none">
                                <li>$32 for first swimmer</li>
                                <li>$26 for second swimmer</li>
                                <li>$22 for third swimmer</li>
                                <li>Free for fourth+ swimmer</li>
                            </ul>
                        </li>
                        <li>Tuition Price
                            <ul class="list-none">
                                <li>$25.00 per 45 min class</li>
                                <li>$33.00 per 60 min class</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card p-4 mb-4">
            <h3 class="text-center mb-4">Schedule a Try Out</h3>
            <p class="text-center mb-4">Fill out the form below to schedule a try out. We'll contact you to confirm the date and time.</p>

            <form class="form js-netlify-ajax-form" name="tryout-request" method="POST" action="/thank-you/" netlify-honeypot="bot-field" data-netlify="true">
                <input type="hidden" name="form-name" value="tryout-request">
                <input type="hidden" name="tryout-name" value="Pre-Comp">

                <div class="hidden js-form-status p-3 rounded" role="status" aria-live="polite"></div>
                <div class="flex flex-wrap -mx-2">
                    <div class="w-full md:w-1/2 px-2 mb-4">
                        <label class="block" for="name">Full Name (required)</label>
                        <input class="w-full" id="name" type="text" name="name" autocomplete="name" required="required">
                    </div>

                    <div class="w-full md:w-1/2 px-2 mb-4">
                        <label class="block" for="swimmer-name">Swimmer's Name</label>
                        <input class="w-full" id="swimmer-name" type="text" name="swimmer-name">
                    </div>
                </div>

                <div class="flex flex-wrap -mx-2">
                    <div class="w-full md:w-1/2 px-2 mb-4">
                        <label class="block" for="email">Email (required)</label>
                        <input class="w-full" id="email" type="email" name="email" autocapitalize="off" autocomplete="email" required="required">
                    </div>

                    <div class="w-full md:w-1/2 px-2 mb-4">
                        <label class="block" for="phone">Phone Number</label>
                        <input class="w-full" id="phone" type="tel" name="phone" autocapitalize="off" autocomplete="tel">
                    </div>
                </div>

                <div class="mb-4">
                    <label class="block" for="notes">Let us know a little about your swimmer's abilities</label>
                    <textarea rows="3" class="w-full" id="notes" name="notes" placeholder="Any additional information we should know"></textarea>
                </div>

                <div class="hidden">
                    <label>Don't fill this out if you're human:
                    <input name="bot-field"/></label>
                </div>

                <div class="text-center mb-2">
                    <button class="button" type="submit">Schedule Try Out</button>
                </div>
            </form>
        </div>

        <div class="card p-4 mt-4">
            <div class="text-right">
                <a href="https://app3.jackrabbitclass.com/portal/ppLogin.asp?id=541680" class="button button--small mb-3" target="_blank">Portal Login</a>
            </div>

            <h3 class="separator-center">Bridge Program Clinics Calendar</h3>
            <div class="my-8 mx-auto" style="max-width: 800px;">
                <iframe src="https://app3.jackrabbitclass.com/eventcalendar.asp?orgid=541680" width="100%" height="650" scrolling="yes" class="iframe-class" frameborder="0"></iframe>
            </div>

            <h3 class="separator-center">North Region Class Registration</h3>
            <p class="text-center">All swimmers must have passed the G7 level of swim school or completed a successful evaluation.</p>

            {% if jackrabbit.preCompNorth.sessions.length > 0 %}
            {% for session in jackrabbit.preCompNorth.sessions %}
            <h3 class="separator-left mt-12">{{ session.session }}</h3>

            <script src="https://app.jackrabbitclass.com/jr3.0/Openings/OpeningsJS?OrgID={{ jackrabbit.preCompNorth.orgId }}&amp;Session={{ session.session }}&amp;Cat2=Pre-Comp%202&amp;hidecols=Class,Gender,Session,ages&amp;showCols=location&amp;style=font-size:16px&amp;sort=days" type="text/javascript"></script>
            {% endfor %}
            {% else %}
                <div class="bg-red-100 border border-red-900 p-4 my-6">
                    There are no scheduled Pre-Comp classes at this time
                </div>
            {% endif %}
        </div>

        <div class="card p-4 mt-4">
            {% coachContact coach.name, coach.email, coach.phone %}
        </div>

        <div class="card p-4 my-6">
            {% include 'hffa-map.njk' %}
        </div>
    </div>

    {% include 'scripts/netlify-ajax-form.njk' %}
</main>
