---
layout : base.njk
title : Swim School
---
<main id="main" class="bg-gray-100 overflow-hidden">

    {% banner title, {image: 'swim-school.jpg'} %}

    <div class="container my-6">
        <p class="lead">
            SwimMAC Swim School offers a variety of programs for students of all ages and levels of experience.
            Classes include MiniMAC, Preschool, Grade school, Adult and Private Lessons.
            In a small group or individual setting, SwimMAC Swim School instructors focus on fun methods to teach safety and
            proper technique. Our skill progression structure sets students up for success, and establishes a strong foundation while
            instilling a love of swimming in a positive and supportive environment.
        </p>

        <h2 class="separator-left">Lessons Approach</h2>

        <div class="flex flex-wrap -mx-4">
            <div class="w-full md:w-1/2 p-4 space-y-6">
                <h3>Overview</h3>

                <ul>
                    <li>Proper technique for all four strokes (Free, Back, Breast and Fly)</li>
                    <li>Incorporating water safety and technique in each lesson</li>
                    <li>A low ratio group lesson structure allowing for improvement and more individual attention</li>
                    <li>Private and Semi-private lessons options to allow for a more customized plan for skill development</li>
                    <li>Exposure to SwimMAC's competitive team and coaches in action</li>
                </ul>
            </div>

            <div class="w-full md:w-1/2 p-4 space-y-6">
                <h3>Additional Benefits</h3>

                <p>
                    SwimMAC Swim School offers a variety of programs for students of all ages and levels of experience.
                    Group Classes include MiniMAC, Preschool, Grade school, Teen and Adult levels all at a 4:1 ratio.
                    We also offer private lessons (1 on 1). In small group or individual settings, SwimMAC Swim School Coaches focus
                    on fun methods to teach safety and proper technique. Our skill progression structure sets students up for success,
                    and establishes a strong foundation of proper technique while instilling a love of swimming in a positive and
                    supportive environment.
                </p>

                <p>
                    We offer swim opportunities beyond lessons; Junior Swim League, Teen Fit, competitive team,
                    and Masters/Adult Fitness programs. There’s a SwimMAC program for all swimmers!
                </p>
            </div>
        </div>

        <h2 class="separator-left">Locations</h2>

        <div class="flex flex-wrap -mx-4">
            <div class="w-full md:w-1/2 p-4 space-y-6">
                <a href="/swim-school/north/" class="card overflow-hidden h-full">
                    <div class="card-image h-64 bg-center bg-cover" style="background-image: url('/static/cards/hffa.jpg');"></div>
                    <div class="text-gray-900 p-4">
                        <h3>Swim School North <br>
                        Huntersville HFFA</h3>
                        <p>11725 Verhoeff Dr.,<br> Huntersville, NC 28078</p>
                    </div>
                </a>
            </div>

            <div class="w-full md:w-1/2 p-4 space-y-6">
                <a href="/swim-school/south/" class="card overflow-hidden h-full">
                    <div class="card-image h-64 bg-center bg-cover" style="background-image: url('/static/cards/latin.jpg');"></div>
                    <div class="text-gray-900 p-4">
                        <h3>Swim School South <br>
                        Charlotte Latin</h3>
                        <p>9850 Providence Rd.<br> Charlotte, NC 28277</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="my-8">
            <p class="text-center"><strong>Our curriculum is powered by</strong></p>
            <img class="mx-auto block" src="/static/swim-america-logo.png" alt="Swim America">
        </div>

         <div class="card p-4 mt-6">
            <p class="text-center">
                <a class="button ghost" href="https://www.instagram.com/swimmacswimschool/?hl=en" target="_blank" rel="noopener">
                    SwimMAC Swim School on Instagram
                </a>
            </p>

            <div id="curator-feed-default-feed-layout"></div>
        </div>

    </div>
</main>

<script type="text/javascript">
/* curator-feed-default-feed-layout */
(function(){
var i, e, d = document, s = "script";i = d.createElement("script");i.async = 1;
i.src = "https://cdn.curator.io/published/c3498984-9f83-4b68-86a9-86ab8479b260.js";
e = d.getElementsByTagName(s)[0];e.parentNode.insertBefore(i, e);
})();
</script>