---
layout : base.njk
title : Swim School
---
<main id="main" class="bg-gray-100 overflow-hidden">

    {% banner title, {image: 'swim-school.jpg'} %}

    <div class="container my-6">
        <h2 class="separator-center">Locations</h2>

        <div class="flex flex-wrap -mx-4">
            <div class="w-full md:w-1/2 p-4 space-y-6">
                <a href="/swim-school/north/" class="card overflow-hidden h-full">
                    <div class="card-image h-64 bg-center bg-cover" style="background-image: url('/static/cards/hffa.jpg');"></div>
                    <div class="text-gray-900 p-4">
                        <h3>Swim School North <br>
                        Huntersville HFFA</h3>
                        <p>11725 Verhoeff Dr.,<br> Huntersville, NC 28078</p>
                    </div>
                </a>
            </div>

            <div class="w-full md:w-1/2 p-4 space-y-6">
                <a href="/swim-school/south/" class="card overflow-hidden h-full">
                    <div class="card-image h-64 bg-center bg-cover" style="background-image: url('/static/cards/latin.jpg');"></div>
                    <div class="text-gray-900 p-4">
                        <h3>Swim School South <br>
                        Charlotte Latin</h3>
                        <p>9850 Providence Rd.<br> Charlotte, NC 28277</p>
                    </div>
                </a>
            </div>
        </div>

        <h2>Discover the SwimMAC Swim School Difference!</h2>

        <p class="lead">
            At SwimMAC Swim School, we make learning to swim fun, safe, and technique-driven for all ages and experience levels! Whether you're
            introducing your little one to the water, refining strokes for competition, or building confidence as an adult, we have the perfect program for you.
        </p>

        <p class="lead">
            Our expert instructors use engaging, skill-focused methods in both small-group and private lesson settings, ensuring every swimmer learns
            efficiently while having a blast. We follow a proven skill progression structure that builds a strong foundation and a lifelong love of swimming.
        </p>

        <p class="lead">
            Join us and experience the SwimMAC way—where fun meets technique, and every swimmer has the chance to thrive!
        </p>

        <div class="flex flex-wrap -mx-4">
            <div class="w-full md:w-1/2 p-4">
                <h3>Overview</h3>

                <h4>Master All Four Strokes</h4>
                <p>Learn and improve Freestyle, Backstroke, Breaststroke, and Butterfly with proper technique.</p>

                <h4>Safety + Skill in Every Lesson</h4>
                <p>We integrate essential water safety practices alongside stroke development.</p>

                <h4>Small Groups, Big Results</h4>
                <p>Our 4:1 student-to-coach ratio ensures individualized attention in our MiniMAC, Preschool,
                Grade School, Teen, and Adult classes. Personalized Learning - Private lessons (1-on-1) and semi-private (2-on-1) options provide
                a customized approach for accelerated progress.</p>

                <h4>Technique-Driven Approach</h4>
                <p>Our expert instructors make learning fun while building
                strong, efficient, and safe swimmers through a proven skill progression system. A Supportive, Growth-Focused, Fun Environment - We
                foster a love for swimming while helping students succeed at every stage.</p>

                <h4>A Gateway to Excellence</h4>
                <p>Get a front-row seat to SwimMAC's elite competitive team and coaches in action, inspiring the next generation of swimmers.</p>

                <h4>No matter your goal</h4>
                <p>whether it's learning the basics, fine-tuning technique, or preparing for competition—SwimMAC Swim School is the place to grow, improve,
                    and love the water!</p>
            </div>

            <div class="w-full md:w-1/2 p-4">
                <h3>Beyond Lessons - More Ways to Swim!</h3>

                <p>
                    Looking for opportunities beyond lessons? We offer a variety of next-step programs for continued growth and training:
                    Pre-Comp - Bridge the gap between lessons and competition with a fun, team-like experience!
                    MAC Fit - Stay active, improve endurance, and refine technique in a structured but non-competitive setting.
                    SwimMAC Competitive Team - Train with the nation's best and take your skills to the next level!
                    Masters &amp; Adult Fitness - Whether you're swimming for fitness or competition, we have a place for you.
                </p>

                <p>No matter where you are in your swimming journey, SwimMAC has the perfect program to help you thrive in the water!</p>
            </div>
        </div>

        <div class="my-8">
            <p class="text-center"><strong>Our curriculum is powered by</strong></p>
            <img class="mx-auto block" src="/static/swim-america-logo.png" alt="Swim America">
        </div>

         <div class="card p-4 mt-6">
            <p class="text-center">
                <a class="button ghost" href="https://www.instagram.com/swimmacswimschool/?hl=en" target="_blank" rel="noopener">
                    SwimMAC Swim School on Instagram
                </a>
            </p>

            <div id="curator-feed-default-feed-layout"></div>
        </div>

    </div>
</main>

<script type="text/javascript">
/* curator-feed-default-feed-layout */
(function(){
var i, e, d = document, s = "script";i = d.createElement("script");i.async = 1;
i.src = "https://cdn.curator.io/published/c3498984-9f83-4b68-86a9-86ab8479b260.js";
e = d.getElementsByTagName(s)[0];e.parentNode.insertBefore(i, e);
})();
</script>