---
layout : base.njk
title : Private Lessons
---
<main id="main" class="bg-gray-100">

    {% banner title, {image: 'private-lessons.jpg'} %}

    <div class="container py-6">
       <div class="flex flex-wrap -mx-4">
            <div class="w-full md:w-1/2 p-4">
                <a href="private-lessons-north/" class="card h-full overflow-hidden">
                    <div class="card-image h-64 bg-center bg-cover" style="background-image: url('/static/cards/hffa.jpg');"></div>
                    <div class="text-gray-900 p-4">
                        <h2 class="entry-title">Private Lessons North</h2>
                    </div>
                </a>
            </div>

            <div class="w-full md:w-1/2 p-4">
                <a href="private-lessons-south/" class="card h-full overflow-hidden">
                    <div class="card-image h-64 bg-center bg-cover" style="background-image: url('/static/cards/latin.jpg');"></div>
                    <div class="text-gray-900 p-4">
                        <h2 class="entry-title">Private Lessons South</h2>
                    </div>
                </a>
            </div>
        </div>

    </div>
</main>