---
layout : base.njk
title : Private Lessons North
location: Huntersville Family Fitness and Aquatics (North Region)
contact :
    name: Chandra Barck
    email: cbarck@swimmaccarolina.org
    phone: 704-766-1520
---

<main id="main" class="bg-gray-100 overflow-hidden">
    {% banner title, {image: 'private-lessons.jpg' } %}

    <div class="container py-6">
        <p>
            <a href="/">Home</a> /
            <a href="/private-lessons/">Private Lessons</a> /
            {{ title }}
        </p>

        {% include 'covid-notice.njk' %}

        <p class="lead">
            Private Lessons with one-on-one instruction helps some swimmers feel a greater comfort level and learn more efficiently.
        </p>
        <p class="lead">
            Focused attention from an instructor is an effective way to learn or improve a specific skill.
            SwimMAC Swim School instructors are available for private and semi-private lessons at all of our locations,
            for all levels of experience and ages.
        </p>

        {% if private_lessons.north.length > 0 %}
        <div class="card p-4 my-6">
            {% for session in private_lessons.north %}
                <h3 class="separator-center">Schedule and Registration for {{ session.session }}</h3>
                <script src="https://app.jackrabbitclass.com/jr3.0/Openings/OpeningsJS?OrgID={{ jackrabbit.north.orgId }}&Cat2=Private&Session={{ session.session }}&hidecols=Gender,Class,Age,Description,Session&style=font-size:16px&sort=days" type="text/javascript"></script>
            {% endfor %}
        </div>
        {% endif %}

        {% if private_lessons.north.length === 0 %}
        <div class="card p-4 my-6">
            <h3 class="separator-center">Schedule and Registration</h3>
            <div class="bg-red-100 border border-red-900 p-4 my-6">There are no open Private Lessons at this time.</div>
        </div>
        {% endif %}

        <div class="card p-4 my-6">
            <div class="text-center my-6">
                <h2 class="separator-center">Location &amp; Contact Info</h2>
                <h3>{{ location }}</h3>
                <h4>{{ contact.name }}</h4>
                <p>
                    <a href="mailto:{{ contact.email }}">{{ contact.email }}</a><br>
                    {{ contact.phone }}
                </p>
           </div>

            {% include 'hffa-map.njk' %}
        </div>

    </div>
</main>