---
layout : base.njk
title : Pro Tutors
---

<div class="h-64 bg-center bg-cover flex items-center justify-center" style="background-image: url('/static/pool-tiles-1440x400.jpg');">
    <h1 class="text-6xl text-white font-bold text-shadow">{{ title }}</h1>
</div>

<main id="main" class="bg-gray-100 py-6">
    <div class="container overflow-hidden">
        <p>
            <a href="/">Home</a> /
            <a href="/private-lessons/">Private Lessons</a> /
            {{ title }}
        </p>

        <p class="lead">
            Private lessons with top performing coaches for any competitive swimmer that needs additional coaching attention.
            Fine-tune your collegiate skills and make your own schedule.
        </p>

        <div class="card p-4">
            <div class="flex flex-wrap -mx-4">
                <div class="w-full md:w-2/3 medium-8 p-4">
                    <p>SwimMAC Carolina is a USA Swimming Gold Medal Team with top performing coaches and a training system that is recognized worldwide. These resources are available to swimmers in a one-on-one atmosphere with our coaches through our Pro Tutors Private Lessons.</p>
                    <p>Pro Tutors Lessons are for any competitive swimmer that needs additional attention or who is looking for technical fine-tuning. These are one-on-one sessions that can be planned to address any technical skill, including but not limited to starts, turns, and stroke refinement. Sessions may include above and/or underwater video review, along with a plan of action to maintain performance.</p>
                    <p>Pro Tutors are open to all SwimMAC team members and to the public.</p>
                    <p>Sessions are available in packages or as single sessions. The days and times of lessons are determined by the swimmer and can be spread out over time if desired.</p>

                    <div class="bg-blue-100 p-4 border border-blue-900">
                        <p>If you have questions or would like to sign up today, please contact Sandy Bujalski at <a href="mailto:sbujalski@swimmaccarolina.org">sbujalski@swimmaccarolina.org</a></p>
                        <p>Requesting a specific coach is always encouraged if you have a preference!</p>
                    </div>
                </div>

                <div class="w-full md:w-1/3 medium-4 p-4">
                    <h4>Pro Tutors Packages &amp; Cost</h4>
                    <table>
                        <thead>
                            <tr>
                                <th>Packages</th>
                                <th>SwimMAC Member Rate</th>
                                <th>Public Rate</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>60 minute session</td>
                                <td>$90</td>
                                <td>$100</td>
                            </tr>
                            <tr>
                                <td>Four 60 minute sessions</td>
                                <td>$315</td>
                                <td>$340</td>
                            </tr>
                            <tr>
                                <td>Semi-private (2 swimmers)</td>
                                <td>$360</td>
                                <td>$400</td>
                            </tr>
                            <tr>
                                <td>10 &amp; under option: Three 30 minute sessions</td>
                                <td>$120</td>
                                <td>$120</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</main>