---
layout : base.njk
title : Junior Swim League (JSL) - South
coach:
    name: Carrie Andrews
    email: candrews@swimmaccarolina.org
---

<main id="main" class="bg-gray-100 overflow-hidden">

    {% banner title, {image: 'jsl.jpg' } %}

    <div class="container py-6">
        <p>
            <a href="/">Home</a> /
            <a href="/jsl/">Junior Swim League</a> /
            {{ title }}
        </p>

        {% include 'covid-notice.njk' %}

        <p class="lead">
            For swimmers ages 6–12 who can swim one length (25 yards) freestyle and backstroke and either breaststroke or butterfly.
        </p>
        <p class="lead">
            Swimmers who have completed level G7 of the SwimMAC swim school may register without a tryout.
            All other swimmers must complete a tryout prior to registration.
            Contact Carrie Andrews <a href="mailto:candrews@swimmaccarolina.org">candrews@swimmaccarolina.org</a> for a tryout.
        </p>

        <div class="card p-4 mt-4">
            <div class="text-right">
                <a href="https://app3.jackrabbitclass.com/portal/ppLogin.asp?id=541681" class="button button--small mb-3" target="_blank">Portal Login</a>
            </div>

            <h3 class="separator-center">JSL Fall 2022</h3>
            <script src="https://app.jackrabbitclass.com/jr3.0/Openings/OpeningsJS?OrgID=541681&session=JSL%20Fall%202022&hidecols=Gender,Ages&style=font-size:16px&sort=days" type="text/javascript"></script>

            {% coachContact coach.name, coach.email %}
        </div>

        <div class="container card p-4 my-6">
            {% include 'latin-map.njk' %}
        </div>
    </div>

</main>