---
layout : base.njk
title : Junior Swim League (JSL) - North
coach:
    name: Ali Sensintaffar
    email: asensintaffar@swimmaccarolina.org
    phone: (980) 850-9391
---

<main id="main" class="bg-gray-100  overflow-hidden">

    {% banner title, {image: 'jsl.jpg' } %}

    <div class="container py-6">
        <p>
            <a href="/">Home</a> /
            <a href="/jsl/">Junior Swim League</a> /
            {{ title }}
        </p>

        <p class="lead">
            Junior Swim League (JSL) is for swimmers ages 6-12 who are looking to improve their technique and take their swimming
            to the next level before joining competitive swimming. Swimmers must be able to complete 25 yards (one length) of
            freestyle with proper head and body position and side breathing, 25 yards backstroke with proper head and body position,
            and have knowledge of breaststroke (with legal breaststroke kick) and knowledge of butterfly in order to be considered for JSL.
            All new participants must complete an evaluation prior to joining.
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSckvg72MxxeObKc-SnV0juRTyleWVAFFz41lcHZOCVy-e31mg/viewform" target="_blank">Please fill out this form to sign up for an evaluation</a>.
        </p>

        <div class="card p-4">
           <div class="flex flex-wrap -mx-4">
                <div class="w-full md:w-1/2 p-4">
                   <h2>Overview</h2>

                    <ul>
                        <li>For ages 6-12</li>
                        <li>Taught by trained SwimMAC coaches</li>
                        <li>Fosters teamwork and sportsmanship</li>

                        <li>Minimum skill requirements
                            <ul>
                                <li>25 freestyle with proper head and body position and side breathing</li>
                                <li>25 backstroke with proper head and body position</li>
                                <li>Knowledge of breaststroke with legal breaststroke kick</li>
                                <li>Knowledge of butterfly</li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="w-full md:w-1/2 p-4">
                    <h2>Structure</h2>
                    <ul>
                        <li>Evaluations are held intermittently throughout the year.
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSckvg72MxxeObKc-SnV0juRTyleWVAFFz41lcHZOCVy-e31mg/viewform?usp=sf_link" class="button" target="_blank">Sign up for an evaluation</a>
                        </li>
                        <li>Classes are 45 minutes long and 1-2 times a week depending on the level</li>
                    </ul>
               </div>

               <div class="w-full p-4">
                    <h2>Pricing</h2>
                    <ul>
                        <li>Annual (September-August) Registration Fees (includes swim cap and t-shirt)
                            <ul class="list-none">
                                <li>$32 for first swimmer</li>
                                <li>$26 for second swimmer</li>
                                <li>$22 for third swimmer</li>
                                <li>Free for fourth+ swimmer</li>
                            </ul>
                        </li>
                        <li>Base Tuition Price
                            <ul class="list-none">
                                <li>$23 per class</li>
                            </ul>
                        </li>
                    </ul>
               </div>
            </div>
        </div>

        <div class="card p-4 mt-4">
            <div class="text-right">
                <a href="https://app3.jackrabbitclass.com/portal/ppLogin.asp?id=541680" class="button button--small mb-3" target="_blank">Portal Login</a>
            </div>

            <h3 class="separator-center">Bridge Program Clinics Calendar</h3>
            <div class="my-8 mx-auto" style="max-width: 800px;">
                <iframe src="https://app3.jackrabbitclass.com/eventcalendar.asp?orgid=541680" width="100%" height="650" scrolling="yes" class="iframe-class" frameborder="0"></iframe>
            </div>

            <h3 class="separator-center">North Region Class Registration</h3>
            <p class="text-center">All swimmers must have passed the G7 level of swim school or completed a successful evaluation.</p>

            {% if jackrabbit.jslNorth.sessions.length > 0 %}
            {% for session in jackrabbit.jslNorth.sessions %}
            <h3 class="separator-left mt-12">{{ session.session }}</h3>

            <script src="https://app.jackrabbitclass.com/jr3.0/Openings/OpeningsJS?OrgID={{ jackrabbit.jslNorth.orgId }}&amp;Session={{ session.session }}&hidecols=Class,Gender,Session,ages&showCols=location,Cat1&style=font-size:16px&sort=days" type="text/javascript"></script>
            {% endfor %}
            {% else %}
                <div class="bg-red-100 border border-red-900 p-4 my-6">
                    There are no scheduled JSL classes at this time
                </div>
            {% endif %}
        </div>

        <div class="card p-4 mt-4">
            {% coachContact coach.name, coach.email, coach.phone %}
        </div>

        <div class="card p-4 my-6">
            {% include 'hffa-map.njk' %}
        </div>
    </div>

</main>