---
layout : base.njk
pagination:
    data: swim_school.groups[2].levels
    size: 1
    alias: swim
permalink: "swim-school/south/grade-school/{{ swim.name | slug }}/"
---

<main id="main" class="bg-gray-100 overflow-hidden">
    {% banner swim.name, {image: swim.image} %}

    <div class="container my-6">
        <p>
            <a href="/">Home</a> /
            <a href="/swim-school/">Swim School</a> /
            <a href="/swim-school/south/">Swim School South</a> /
            <a href="/swim-school/south/grade-school">Grade School</a> /
            {{ swim.name }}
        </p>

        <div class="card p-6 my-6">
            <p class="lead">
                {{ swim.description }}
            </p>
        </div>

        <div class="card p-6 my-6">
            <div class="text-right">
                <a href="https://app3.jackrabbitclass.com/portal/ppLogin.asp?id={{ jackrabbit.south.orgId }}" class="button button--small mb-3">Portal Login</a>
                {% if swim.north %}
                <a href="/swim-school/north/grade-school/{{ swim.name | slug }}/" class="button button--small ghost mb-3">
                    Go To North Location Page
                </a>
                {% endif %}
            </div>

            <div class="mt-2 mb-6">
                <h2 class="separator-center">Charlotte Latin Schedule</h2>

                {% if jackrabbit.south.sessions.length > 0 %}
                    {% for session in jackrabbit.south.sessions %}
                    <h3 class="separator-left">{{ session.session }}</h3>
                    <script src="https://app.jackrabbitclass.com/jr3.0/Openings/OpeningsJS?OrgID={{ jackrabbit.south.orgId }}&amp;Cat2=Grade-School&amp;Cat3={{ swim.color }}&amp;Session={{ session.session }}&hidecols=Gender,Class,Session,Description&style=font-size:16px&sort=days" type="text/javascript"></script>
                    {% endfor %}
                {% else %}
                    <div class="bg-red-100 border border-red-900 p-4 my-6">
                        There are no scheduled {{ swim.name }} classes at this time
                    </div>
                {% endif %}
            </div>

            {% include 'location-details-south.njk' %}
    </div>

     <div class="container card p-4 my-6">
        {% include 'latin-map.njk' %}
    </div>
</main>