---
layout : base.njk
pagination:
    data: swim_school.groups
    size: 1
    alias: swim
permalink: "swim-school/south/{{ swim.url | slug }}/"
---

<main id="main" class="bg-gray-100 overflow-hidden">

    {% banner swim.name, {image: swim.image} %}

    <div class="container py-4">
        <p>
            <a href="/">Home</a> /
            <a href="/swim-school/">Swim School</a> /
            <a href="/swim-school/south/">Swim School South</a> /
            {{ swim.name }}
        </p>

        {% if swim.name !== 'Teen Lessons' %}
        {% if swim.name !== 'Adult Lessons' %}

        <div class="flex flex-wrap -mx-4">

           {% for level in swim.levels %}
           {% if level.south %}
            <div class="w-full md:w-1/2 lg:w-1/3 p-4">
                <a href="{{ level.url | slug }}/" class="card h-full overflow-hidden">
                    {% if level.image %}
                    <div class="card-image h-64 bg-center bg-cover" style="background-image: url('/static/cards/{{ level.image }}');"></div>
                    {% endif %}
                    <div class="text-gray-900 p-4">
                        <h2>{{ level.name }}</h2>
                        <p>{{ level.description }}</p>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}

        </div>
        {% endif %}
        {% endif %}

        {# Begin Teen Lessons Content #}
        {% if swim.name === 'Teen Lessons' %}
        <div class="card p-6 my-6">
            <p class="lead">
                <strong>Ages {{ swim.ages }}</strong><br>
                {{ swim.description }}
            </p>
        </div>

        <div class="card p-6 my-6">
            <div class="text-right">
                <a href="https://app3.jackrabbitclass.com/portal/ppLogin.asp?id={{ jackrabbit.south.orgId }}" class="button button--small">Portal Login</a>
            </div>

            <div class="my-6">
                <h2 class="separator-center">Charlotte Latin Teen Class Schedule &amp; Registration</h2>

                {% if jackrabbit.south.sessions.length > 0 %}
                    {% for session in jackrabbit.south.sessions %}
                        {% if session.teen %}
                        <h3 class="separator-left">{{ session.session }}</h3>
                        <script src="https://app.jackrabbitclass.com/jr3.0/Openings/OpeningsJS?OrgID={{ jackrabbit.south.orgId }}&amp;Cat2=teen&amp;Cat3=teen&amp;Session={{ session.session }}&hidecols=Gender,Class,Session,Description&style=font-size:16px&sort=days" type="text/javascript"></script>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="bg-red-100 border border-red-900 p-4 my-6">
                        There are no scheduled {{ swim.name }} classes at this time
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="card p-6 my-6">
            {% include 'location-details-south.njk' %}
        </div>

        <div class="card p-4 my-6">
            {% include 'latin-map.njk' %}
        </div>
        {% endif %}
        {# End Teen Lessons Content #}

        {# Begin Adult Lessons Content #}
        {% if swim.name === 'Adult Lessons' %}
        <div class="card p-6 my-6">
            <p class="lead">
                {{ swim.description }}
            </p>
        </div>

        <div class="card p-6 my-6">
            <div class="text-right">
                <a href="https://app3.jackrabbitclass.com/portal/ppLogin.asp?id={{ jackrabbit.south.orgId }}" class="button button--small mb-3">Portal Login</a>
                <a href="/swim-school/north/{{ swim.name | slug }}/" class="button button--small ghost mb-3">
                    Go To North Location Page
                </a>
            </div>

            <h2>Location Info</h2>
            <ul>
                <li>New students are able to start at any time throughout the month</li>
                <li>Registration is on-going</li>
                <li>Payments are processed within the first 5 business days of each month</li>
            </ul>

            <div class="my-6">
                <h2 class="separator-center">Charlotte Latin Adult Class Schedule &amp; Registration</h2>

                {% if jackrabbit.south.sessions.length > 0 %}
                    {% for session in jackrabbit.south.sessions %}
                        {% if session.adult %}
                        <h3 class="separator-left">{{ session.session }}</h3>
                        <script src="https://app.jackrabbitclass.com/jr3.0/Openings/OpeningsJS?OrgID={{ jackrabbit.south.orgId }}&amp;Cat2=adult&amp;Cat3=adult&amp;Session={{ session.session }}&hidecols=Gender,Class,Ages,Session&style=font-size:16px&sort=days" type="text/javascript"></script>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="bg-red-100 border border-red-900 p-4 my-6">
                        There are no scheduled {{ swim.name }} classes at this time
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="card p-6 my-6">
            {% include 'location-details-south.njk' %}
        </div>

        <div class="card p-4 my-6">
            {% include 'latin-map.njk' %}
        </div>
        {% endif %}
        {# End Adult Lessons Content #}

    </div>
</main>