---
layout : base.njk
title : Mac Fit
---

<main id="main" class="bg-gray-100">

    {% banner title, {image: 'teen-fit.jpg'} %}

    <div class="container py-6">
        <h2>
            MAC Fit - Swim Strong, Stay Fit, Have Fun!
            <br>
            (formerly Teen Fit)
        </h2>

        <p class="lead">
            Love the water but not ready for year-round competitive swimming?
            MAC Fit is perfect for swimmers who want to stay in shape, build endurance, improve technique, and prepare for school or summer league team tryouts.
            Each session combines aerobic conditioning, stroke refinement, and skill-building drills in a fun, positive environment, helping swimmers gain confidence, stay active, and enjoy the sport—without the pressure of competition.
        </p>

        <div class="flex flex-wrap -mx-4 justify-center">
            <div class="w-full md:w-1/2 lg:w-1/3 p-4">
                <a href="mac-fit-north/" class="card h-full overflow-hidden">
                    <div class="card-image h-64 bg-center bg-cover" style="background-image: url('/static/cards/hffa.jpg');"></div>
                    <div class="text-gray-900 p-4">
                        <h2>Mac Fit North</h2>
                    </div>
                </a>
            </div>

            <div class="w-full md:w-1/2 lg:w-1/3 p-4">
                <a href="mac-fit-south/" class="card h-full overflow-hidden">
                    <div class="card-image h-64 bg-center bg-cover" style="background-image: url('/static/cards/latin.jpg');"></div>
                    <div class="text-gray-900 p-4">
                        <h2>Mac Fit South</h2>
                    </div>
                </a>
            </div>
        </div>

    </div>

</main>