---
layout : base.njk
title : Mac Fit - South
coach:
    name: Carrie Andrews
    email: candrews@swimmaccarolina.org
---

{% banner title, {image: 'teen-fit.jpg'} %}

<main id="main" class="bg-gray-100 py-6">
    <div class="container overflow-hidden">
        <p>
            <a href="/">Home</a> /
            <a href="/mac-fit/">Mac Fit</a> /
            {{ title }}
        </p>

        <p class="lead">
            SwimMAC's Mac Fit is for kids age 11 to 18 who are looking for a program that will prepare them for middle school, high school,
            summer league swimming, or a fun way to stay fit or cross-train for other sports. Each class will have elements of aerobic development,
            stroke technique for all strokes, turn work, and some fun and exciting aquatic games.
        </p>

        <div class="card p-4">
            <h2>Overview</h2>

            <ul>
                <li>Swim 100 yards of freestyle and 100 yards of backstroke
                <li>Some knowledge of breaststroke and butterfly</li>
            </ul>
        </div>

        <div class="card p-4 my-6">
            <div class="text-right">
                <a href="https://app3.jackrabbitclass.com/portal/ppLogin.asp?id=541681" class="button button--small mb-3" target="_blank">Portal Login</a>
            </div>

            <h3 class="separator-center">Schedule and Registration for MAC Fit South</h3>

            {% if jackrabbit.MACFitSouth.sessions.length > 0 %}
                {% for session in jackrabbit.MACFitSouth.sessions %}
                <h3 class="separator-left">{{ session.name }}</h3>

                <script src="https://app.jackrabbitclass.com/jr3.0/Openings/OpeningsJS?OrgID={{ jackrabbit.MACFitSouth.orgId }}&amp;Session={{ session.session }}&hidecols=Class,Gender,Session,ages&style=font-size:16px&sort=days" type="text/javascript"></script>
                {% endfor %}
            {% else %}
                <div class="bg-red-100 border border-red-900 p-4 my-6">
                    There are no scheduled MAC Fit classes at this time
                </div>
            {% endif %}

         </div>

        <div class="card p-4 my-6">
            {% coachContact coach.name, coach.email %}
        </div>

        <div class="container card p-4 my-6">
            {% include 'latin-map.njk' %}
        </div>
    </div>

</main>