---
layout : base.njk
title : MAC Fit - North
coach:
    name: Ali Sensintaffar
    email: asensintaffar@swimmaccarolina.org
    phone: (980) 850-9391
---

{% banner title, {image: 'teen-fit.jpg'} %}

<main id="main" class="bg-gray-100 py-6">
    <div class="container overflow-hidden">
        <p>
            <a href="/">Home</a> /
            <a href="/mac-fit/">MAC Fit</a> /
            {{ title }}
        </p>

        <p class="lead">
            SwimMAC's Mac Fit is for kids age 11 to 18 who are looking for a program that will prepare them for middle school, high school,
            summer league swimming, or a fun way to stay fit or cross-train for other sports. Each class will have elements of aerobic development,
            stroke technique for all strokes, turn work, and some fun and exciting aquatic games.
        </p>

        <div class="card p-4">
            <div class="flex flex-wrap -mx-4">
                <div class="w-full md:w-1/2 p-4">
                    <h2>Overview</h2>

                    <ul>
                        <li>For ages 11-18</li>
                        <li>Taught by trained SwimMAC Coaches</li>
                        <li>Fosters teamwork and sportsmanship while improving technique and increasing endurance</li>
                        <li>Minimum skill requirement
                            <ul>
                                <li>4 legal strokes</li>
                                <li>Be able to complete the following for endurance while maintaining mostly legal technique
                                    <ul>
                                        <li>100 freestyle</li>
                                        <li>100 backstroke</li>
                                        <li>50 breaststroke</li>
                                        <li>50 butterfly</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="w-full md:w-1/2 p-4">
                    <h2>Structure</h2>

                    <ul>
                        <li>Evaluations are held intermittently throughout the year <br>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeeXP5tx0rLbDc97S4Gpk7c1Tpe9kkUq_RLcfjny7taKE-7iQ/viewform" class="button" target="_blank">Sign up for an evaluation </a>
                        </li>
                        <li>Classes are 1 hour and 15 minutes long</li>
                        <li>15 minutes of dryland (tennis shoes are required)</li>
                        <li>1 hour in-water work</li>
                        <li>Classes are offered 4+ days a week and swimmers can sign up for 1-4 days depending on their goals</li>
                    </ul>
                </div>


                <div class="w-full p-4">
                    <h2>Pricing</h2>

                    <ul>
                        <li>Annual (September-August) Registration Fees (includes swim cap and t-shirt)
                            <ul class="list-none">
                                <li>$32 for first swimmer</li>
                                <li>$26 for second swimmer</li>
                                <li>$22 for third swimmer</li>
                                <li>Free for fourth+ swimmer</li>
                            </ul>
                        </li>
                        <li>Base Tuition Price
                            <ul class="list-none">
                                <li>$24.75 per class</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card p-4 my-6">
            <div class="text-right">
                <a href="https://app3.jackrabbitclass.com/portal/ppLogin.asp?id=541680" class="button button--small mb-3" target="_blank">
                    Portal Login
                </a>
            </div>

            <h3 class="separator-center">Bridge Program Clinics Calendar</h3>
            <div class="my-8 mx-auto" style="max-width: 800px;">
                <iframe src="https://app3.jackrabbitclass.com/eventcalendar.asp?orgid=541680" width="100%" height="650" scrolling="yes" class="iframe-class" frameborder="0"></iframe>
            </div>

            <h3 class="separator-center">Schedule and Registration for MAC Fit North</h3>

            {% if jackrabbit.MACFitNorth.sessions.length > 0 %}
                {% for session in jackrabbit.MACFitNorth.sessions %}
                <h3 class="separator-left mt-12">{{ session.session }}</h3>

                <script src="https://app.jackrabbitclass.com/jr3.0/Openings/OpeningsJS?OrgID={{ jackrabbit.MACFitNorth.orgId }}&amp;Session={{ session.session }}&showCols=location,Cat1&hidecols=Class,Gender,Session,ages&style=font-size:16px&sort=days" type="text/javascript"></script>
                {% endfor %}
            {% else %}
                <div class="bg-red-100 border border-red-900 p-4 my-6">
                    There are no scheduled MAC Fit classes at this time
                </div>
            {% endif %}
        </div>

        <div class="card p-4 my-6">
            {% coachContact coach.name, coach.email, coach.phone %}
        </div>

        <div class="card p-4 my-6">
            {% include 'hffa-map.njk' %}
        </div>
    </div>

</main>