---
layout : base.njk
title : About Us
---

<main id="main" class="bg-gray-100 overflow-hidden">

    {% banner title %}

    <div class="container py-6">

        <p class="lead">
        SwimMAC Carolina is a 501(c)(3) nonprofit that offers swimming programs for people of all ages
        and experience levels. Established as the Mecklenburg Aquatic Club in 1977, we’ve grown from a
        small competitive team into a highly regarded organization that provides aquatic instruction
        and training for nearly 10,000 people in the Charlotte region each year. Our mission is to
        empower young people to be champions in life through excellence in swimming.
        </p>

        <div class="card p-4">
            <h3>HISTORY</h3>

            <p>Founded by five families in 1977 to the thousands of diverse swimmers it is today,
            SwimMAC has always been tuned into community. Within two years of its onset, the MAC
            program had grown to 60 swimmers and continued to grow dramatically over the next several years.
            Between 1980 and 1985, the MAC family grew to more than 300 competitive swimmers and had
            developed one of the largest learn-to-swim programs in the country. The program thrived but
            was always in a tentative status as the owners of the rented pools could withdraw their
            support at any time. MAC needed a home of its own. Thanks to the generosity of local business
            owners and growing partnerships, SwimMAC expanded into the seven-facility network it is today.
            </p>

            <h3>HALLMARKS</h3>

            <p>SwimMAC offers programs for students of all ages and at all levels of experience,
            including Mommy &amp; Me classes, preschool and elementary-age group lessons, adult beginners,
            and stroke refinement sessions. In small group or individual settings, instructors focus on fun,
            safety, and proper technique. A logical skill progression structure sets students up for
            success and our experienced instructors create a positive, supportive environment.
            Our goal is to establish a strong foundation in our students while instilling a love of
            swimming so that children and families enter the sport with an opportunity for lifelong
            enrichment.</p>

            <h3>COMPETITIVE OPPORTUNITY</h3>

            <p>For those looking for more of a challenge, our competitive age group and adult classes
            offer a distinct edge. Athletes are led down a pathway of continued education in the sport.
            We expect all of our students in the program to eventually take ownership in putting it all
            together for the purpose of excelling toward their goals.</p>
        </div>
    </div>
</main>