---
layout : base.njk
title : Achievements & Records
---

<main id="main" class="bg-gray-100 overflow-hidden">

    {% banner title, {image: 'cheer.jpg'} %}

    <div class="container py-6">

        <div class="card p-4">
            <h3>How We Excel</h3>
            <p>
                SwimMAC Carolina has a long history of excellence both in and out of the pool.
                We’ve been named as one of the top swim clubs in the nation for the past decade by USA Swimming through
                its Club Excellence program. We are very proud of our student-athletes, who consistently make up one of
                the largest contingencies on USA Swimming’s annual Scholastic All-America Team. Many of our students are
                also highly regarded recruits sought out by colleges across the country. While accolades are always
                appreciated, it’s the hard work and strong character of our athletes, coaches, staff, and
                families that make SwimMAC so successful.
            </p>
        </div>

    </div>
</main>