---
layout : base.njk
title : Alumni
---

<main id="main" class="bg-gray-100 overflow-hidden">

    {% banner title, {image: 'cheer.jpg'} %}

    <div class="container py-6">

        <div class="card p-4">
            <h3>Connect With Other Alumni</h3>
            <p>
                Join the conversation and reconnect with other SwimMAC alumni. And if you’re itching to get back in the pool,
                be sure to check out our current programs.
            </p>

            <p>
                <a class="button mr-6" href="https://www.facebook.com/SwimMACAlumni/" target="_blank">
                    SwimMAC Alumni Facebook Page
                </a>

                <a class="button" href="/adult-programs/">
                    Adult Programs
                </a>
            </p>

        </div>

        <div class="card p-4">
            <h2>Ways to Help</h2>
            <div class="card-section">
                <p>
                    If you’re looking for more ways to support SwimMAC, you can head on over to our Swim Shop to purchase swimsuits,
                    apparel, and accessories. You can also check out our Support Us page, which provides details on the efforts we lead.
                    There you can choose to donate or become a sponsor.
                </p>

                <p>
                    <a class="button mr-6" href="http://www.carolinaswimshop.com/" target="_blank" rel="noopener">
                        Carolina Swim Shop
                    </a>
                    <a class="button" href="/support-us">
                        Support Us
                    </a>
                </p>

            </div>
        </div>

        <div class="card p-4">
            <h2>SwimMac on Instagram</h2>

            <p>
                We like to keep the community updated with what's going on at SwimMac.
                Check out our Instagram page for more great photos.
            </p>

            <p>
                <a class="button hollow" href="https://www.instagram.com/swimmac_1977/?hl=en" target="_blank" rel="noopener">
                    SwimMAC Instagram
                </a>
            </p>
        </div>

    </div>
</main>