---
layout: base.njk
title: Contact Us
name: Contact
---

<main id="main" class="bg-gray-100">
    {% banner title %}

    <div class="container py-6">

        <div class="flex flex-wrap -mx-4">
           <div class="w-full lg:w-1/2 px-4">
               <div class="text-center">
                    <h2>SwimMAC Carolina</h2>

                    <p class="text-2xl">
                        9850 Providence Rd. <br>
                        Charlotte, NC 28277 <br>
                        <i class="fas fa-phone-alt"></i> 704-846-5335
                    </p>
                </div>

                <div class="flex flex-wrap -mx-4">
                    <div class="p-4 w-full lg:w-1/2">
                        <div class="card h-full p-4 text-center">
                            <h4>Board of Directors</h4>
                            <p>General Board Questions<br>
                                <a href="mailto:BOD@swimmaccarolina.org">BOD@swimmaccarolina.org</a></p>
                        </div>
                    </div>

                    <div class="p-4 w-full lg:w-1/2">
                        <div class="card h-full p-4 text-center">
                            <h4>Competitive Team Billing &amp; Registration</h4>
                            <p><a href="mailto:billing@swimmaccarolina.org">billing@swimmaccarolina.org</a></p>
                        </div>
                    </div>

                    <div class="p-4 w-full lg:w-1/2">
                        <div class="card h-full p-4 text-center">
                            <h4>Swim School Questions</h4>
                            <p>
                                Martha Hocutt - Director of Developmental Swimming <br>
                                <a href="mailto:mhocutt@swimmaccarolina.org">mhocutt@swimmaccarolina.org</a>
                            </p>

                            <p>
                                North (HFFA)<br>
                                Chandra Dominguez - Manager<br>
                                <a href="mailto:cdominguez@swimmaccarolina.org">cdominguez@swimmaccarolina.org</a>
                            </p>

                            <p>
                                South (Charlotte Latin)<br>
                                Nicolle Hollmon - Manager<br>
                                <a href="mailto:nhollmon@swimmaccarolina.org">nhollmon@swimmaccarolina.org</a>
                            </p>
                        </div>
                    </div>

                    <div class="p-4 w-full lg:w-1/2">
                        <div class="card h-full p-4 text-center">
                            <h4>Latin Facility</h4>
                            <p>
                                Paul Rill - Facility Manager<br>
                                <a href="mailto:prill@swimmaccarolina.org">prill@swimmaccarolina.org</a>
                            </p>
                            <p>
                                Tom Avischious - Head of Business Management <br>
                                <a href="mailto:tavischious@swimmaccarolina.org">tavischious@swimmaccarolina.org</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="flex flex-wrap -mx-4">
                    <div class="w-full lg:w-1/2 p-4">
                        <div class="card h-full p-4 text-center">
                            <h4>JSL/Teen Fit</h4>
                            <p>
                                North (HFFA)<br>
                                Ali Sensintaffar
                                <br>
                                <a href="mailto:asensintaffar@swimmaccarolina.org">asensintaffar@swimmaccarolina.org</a>
                            </p>

                            <p>
                                South (Charlotte Latin)<br>
                                Carrie Andrews<br>
                                <a href="mailto:candrews@swimmaccarolina.org">candrews@swimmaccarolina.org</a>
                            </p>
                        </div>
                    </div>

                    <div class="w-full lg:w-1/2 p-4">
                        <div class="card h-full p-4 text-center">
                            <h4>Swim Shop</h4>
                            <p>
                                South (Charlotte Latin)<br>
                                980-339-8950<br>
                                Team Sales - <a href="mailto:jneal@kiefer.com">jneal@kiefer.com</a>
                            </p>

                            <p>
                                North (HFFA)- 980-339-8960<br>
                                Team Sales - <a href="mailto:cchitwood@kiefer.com">cchitwood@kiefer.com</a>
                            </p>
                        </div>
                    </div>
                </div>
           </div>

            <div class="w-full lg:w-1/2 px-4">
                <div class="card p-6">
                    <h3>Don't Know Who to Contact?</h3>
                    <p class="mb-4">Our main priority is to provide the best service possible. When you submit the form below we'll have one of our team members contact you as soon as possible.</p>

                    <form class="form contact" name="contact" method="POST" action="/thank-you/" netlify-honeypot="bot-field" data-netlify="true">
                        <div class="mb-6">
                            <label class="block" for="name">Name</label>
                            <input class="w-full" id="name" type="text" name="name" autocomplete="name" required="required">
                        </div>

                        <div class="mb-6">
                            <label class="block" for="email">Email</label>
                            <input class="w-full" id="email" type="text" name="email" autocapitalize="off" autocomplete="email" required="required">
                        </div>

                        <div class="mb-6">
                            <label class="block" for="phone">Phone</label>
                            <input class="w-full" id="phone" type="tel" name="phone" autocapitalize="off" autocomplete="tel" required="required">
                        </div>

                        <div class="mb-6">
                            <label class="block" for="message">Message</label>
                            <textarea rows="8" class="w-full" id="message" name="message" required="required"></textarea>
                        </div>

                        <div class="hidden">
                            <label>Don't fill this out if you're human:
                            <input name="bot-field"/></label>
                        </div>

                        <div class="mb-6">
                            <button class="button" type="submit">Get In Touch</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>