---
layout: base.njk
title: Contact Us
name: Contact
---

<main id="main" class="bg-gray-100">
    {% banner title %}

    <div class="container py-6">

        <div class="flex flex-wrap -mx-4">
           <div class="w-full lg:w-1/2 px-4">
               <div class="text-center">
                    <h2>SwimMAC Carolina</h2>

                    <p class="text-2xl">
                        9850 Providence Rd. <br>
                        Charlotte, NC 28277 <br>
                        <i class="fas fa-phone-alt"></i> 704-846-5335
                    </p>
                </div>

                <div class="flex flex-wrap -mx-4">
                    <div class="p-4 w-full lg:w-1/2">
                        <div class="card h-full p-4 text-center">
                            <h4>Board of Directors</h4>
                            <p>General Board Questions<br>
                                <a href="mailto:BOD@swimmaccarolina.org">BOD@swimmaccarolina.org</a></p>
                        </div>
                    </div>

                    <div class="p-4 w-full lg:w-1/2">
                        <div class="card h-full p-4 text-center">
                            <h4>For Registration</h4>
                            <p>Maggie Keller<br>
                                <a href="mailto:billing@swimmaccarolina.org">billing@swimmaccarolina.org</a></p>
                        </div>
                    </div>

                    <div class="p-4 w-full lg:w-1/2">
                        <div class="card h-full p-4 text-center">
                            <h4>For Swim School Questions</h4>
                            <p>Martha Hocutt – Senior Director <br>
                                <a href="mailto:mhocutt@swimmaccarolina.org">mhocutt@swimmaccarolina.org</a></p>

                            <p>Chandra Barck – North <br>
                                <a href="mailto:cbarck@swimmaccarolina.org">cbarck@swimmaccarolina.org</a></p>

                            <p>Nicolle Hollmon – South<br>
                                <a href="mailto:choff@swimmaccarolina.org">choff@swimmaccarolina.org</a></p>
                        </div>
                    </div>

                    <div class="p-4 w-full lg:w-1/2">
                        <div class="card h-full p-4 text-center">
                            <h4>Latin Facility</h4>
                            <p>Richard Micham<br>
                                <a href="mailto:richard@aquatechpm.com">richard@aquatechpm.com</a></p>
                        </div>
                    </div>
                </div>

                <div class="flex flex-wrap -mx-4">
                    <div class="w-full lg:w-1/2 p-4">
                        <div class="card h-full p-4 text-center">
                            <h4>JSL/Teen Fit</h4>
                            <p>Maggie Keller – North <br>
                                <a href="mailto:mkeller@swimmaccarolina.org">mkeller@swimmaccarolina.org</a></p>

                            <p>Carrie Andrews – South<br>
                                <a href="mailto:candrews@swimmaccarolina.org">candrews@swimmaccarolina.org</a></p>
                        </div>
                    </div>

                    <div class="w-full lg:w-1/2 p-4">
                        <div class="card h-full p-4 text-center">
                            <h4>Swim Shop</h4>
                            <p><a href="mailto:teamsales@carolinaswimshop.com">teamsales@carolinaswimshop.com</a></p>
                        </div>
                    </div>
                </div>
           </div>

            <div class="w-full lg:w-1/2 px-4">
                <div class="card p-6">
                    <h3>Don’t Know Who to Contact?</h3>
                    <p class="mb-4">Our main priority is to provide the best service possible. When you submit the form below we'll have one of our team members contact you as soon as possible.</p>

                    <form class="form contact" name="contact" method="POST" action="/thank-you/" netlify-honeypot="bot-field" data-netlify="true">
                        <div class="mb-6">
                            <label class="block" for="name">Name</label>
                            <input class="w-full" id="name" type="text" name="name" autocomplete="name" required="required">
                        </div>

                        <div class="mb-6">
                            <label class="block" for="email">Email</label>
                            <input class="w-full" id="email" type="text" name="email" autocapitalize="off" autocomplete="email" required="required">
                        </div>

                        <div class="mb-6">
                            <label class="block" for="phone">Phone</label>
                            <input class="w-full" id="phone" type="tel" name="phone" autocapitalize="off" autocomplete="tel" required="required">
                        </div>

                        <div class="mb-6">
                            <label class="block" for="message">Message</label>
                            <textarea rows="8" class="w-full" id="message" name="message" required="required"></textarea>
                        </div>

                        <div class="hidden">
                            <label>Don’t fill this out if you're human:
                            <input name="bot-field"/></label>
                        </div>

                        <div class="mb-6">
                            <button class="button" type="submit">Get In Touch</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>