---
layout : base.njk
title : Getting Started
---

<main id="main" class="bg-gray-100 overflow-hidden">
    <div class="container my-6">
       {% include 'get-started-wizard.njk' %}
    </div>
</main>