---
layout: base.njk
title: Home
name: Home
---

<main id="main" class="bg-gray-100">

    <div class="bg-black">
        <a href="/kathy-mckee">
            <img src="/static/banners/kathy-tribute-banner--home.jpg" alt="In Tribute to Coach Kathy McKee" />
        </a>
    </div>

    <div class="container py-6 text-center">
        <h3>Looking to Swim on a Competitive Team?</h3>
        <p>We're currently holding try-outs.</p>
        <p>
            <a class="button" href="https://www.teamunify.com/team/ncmac/page/our-team/tryouts" target="_blank" rel="noopener">
                Schedule a Tryout on Team Unify
            </a>
        </p>
    </div>

    <div class="container overflow-hidden pt-8">
        {% include 'get-started-wizard.njk' %}

        <div class="flex flex-wrap card mb-8 my-6">
            <div class="w-full mb-4 lg:w-1/3 p-4">
                <img src="/static/lifelong-enrichment.png" style="height: 137px;" class="mx-auto">

                <h2 class="text-xl text-center">Lifelong Enrichment</h2>
                <p>
                    You don't have to be an Olympic athlete to enjoy swimming. SwimMAC aims to engage families entering the sport into lifelong
                    enrichment. It's a practice that builds relationships, encourages skills, and promotes positive habit. Our organization
                    started from a small network of families looking to create a stronger community of swimmers. We stick to that vision today.
                </p>
            </div>

            <div class="w-full mb-4 lg:w-1/3 p-4">
                <img src="/static/inspiration.png" style="height: 137px;" class="mx-auto">

                <h2 class="text-xl text-center">Inspiration</h2>
                <p>
                    You don’t have to be an Olympic athlete to enjoy swimming. SwimMAC aims to engage families entering the sport into lifelong enrichment. It’s a practice that builds relationships, encourages skills, and promotes positive habit. Our organization started from a small network of families looking to create a stronger community of swimmers. We stick to that vision today.
                </p>
            </div>

            <div class="w-full mb-4 lg:w-1/3 p-4">
                <img src="/static/human-approach.png" style="height: 137px;" class="mx-auto mb-4">

                <h2 class="text-xl text-center">The Human Approach</h2>
                <p>
                    You don’t have to be an Olympic athlete to enjoy swimming. SwimMAC aims to engage families entering the sport into lifelong enrichment. It’s a practice that builds relationships, encourages skills, and promotes positive habit. Our organization started from a small network of families looking to create a stronger community of swimmers. We stick to that vision today.
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="separator-center">
            <h2>Age Group Programs</h2>
        </div>

        <div class="flex flex-wrap my-6 lg:-mx-6">
            <div class="w-full mb-4 lg:w-1/3 lg:px-6">
                <a href="/swim-school/" class="card h-full mb-8 overflow-hidden">
                    <img src="/static/cards/swim-school.jpg" alt="Instructor teaching swim lessons" class="w-full">
                    <div class="px-4 pt-4">
                        <h2 class="text-xl text-center mb-2">Swim Schools</h2>
                        <p>
                            SwimMAC Swim School offers a variety of programs for students of all ages and levels of experience.
                            Classes include MiniMAC, Preschool, Grade school, Adult and Private Lessons.
                            In a small group or individual setting, SwimMAC Swim School instructors focus on fun methods to teach safety and
                            proper technique. Our skill progression structure sets students up for success,
                            and establishes a strong foundation while instilling a love of swimming in a positive and supportive environment.
                        </p>
                    </div>
                </a>
            </div>

            <div class="w-full mb-4 lg:w-1/3 lg:px-6">
                <a href="/build-skills/" class="card h-full mb-8 overflow-hidden">
                    <img src="/static/cards/build-skills.jpg" alt="swimmers in a pool" class="w-full">
                    <div class="px-4 pt-4">
                        <h2 class="text-xl text-center mb-2">Build Skills</h2>
                        <p>
                            Build individual potential with classes geared toward personal objectives for junior advanced swimmers.
                            These programs feed goals in fitness and technique.
                        </p>
                    </div>
                </a>
            </div>

            <div class="w-full mb-4 lg:w-1/3 lg:px-6">
                <a href="/compete/" class="card h-full mb-8 overflow-hidden">
                    <img src="/static/cards/compete.jpg" alt="competitive swimmer racing" class="w-full">
                    <div class="px-4 pt-4">
                        <h2 class="text-xl text-center mb-2">Compete</h2>
                        <p>
                            We are a nationally ranked competitive swim club that focuses on all four strokes, skill progression,
                            and long-term development. Classes provide lifelong skills and mastery of the sport.
                        </p>
                    </div>
                </a>
            </div>
        </div>
   </div>

    <div class="container">
        <div class="separator-center">
            <h2>Adult Programs</h2>
        </div>

        <div class="flex flex-wrap my-6 lg:-mx-6">
            <div class="w-full mb-4 lg:w-1/3 lg:px-6">
                <a href="/adult-programs/mac-fit/" class="card h-full overflow-hidden">
                    <div class="w-full">
                        <img src="/static/cards/mac-fit.jpg" alt="Mac-Fit swimmer" class="w-full">
                        <div class="p-4">
                            <h2 class="text-xl text-center mb-2">Mac Fit</h2>
                            <p>
						        These classes are geared toward those looking for low impact or supplemental fitness classes.
                                Programs are centered on low impact fitness activities.
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="w-full mb-4 lg:w-1/3 lg:px-6">
                <a href="/adult-programs/adult-group-lessons/" class="card h-full overflow-hidden">
                    <div class="w-full">
                        <img src="/static/cards/pool-tiles.jpg" alt="Swimming Pool" class="w-full">
                        <div class="p-4">
                            <h2 class="text-xl text-center mb-2">Adult Group Lessons</h2>
                            <p>
						        This is a beginner group lesson for adults 18 and over. Lessons will range from learning the
                                basics of blowing bubbles and ﬂoating, to recreational swimming for fitness.
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="w-full mb-4 lg:w-1/3 lg:px-6">
                <a href="/adult-programs/masters/" class="card h-full overflow-hidden">
                    <div class="w-full">
                        <img src="/static/cards/masters.jpg" alt="Masters swimmer" class="w-full">
                        <div class="p-4">
                            <h2 class="text-xl text-center mb-2">Masters</h2>
                            <p>
						        The SwimMAC Masters & Adult Fitness program welcomes people of any ability level.
                                We have four basic categories of Masters swimmers: Adult-Learn-to Swim Program (ALTS)
                                participants, Competitive Swimmers (Open Water & Swim Meets), Triathlon Swimmers, and
                                Fitness Swimmers.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="container overflow-hidden">
        <div class="separator-center">
            <h2>Testimonials</h2>
            <p>Hear What People Have to Say</p>
        </div>

        <div class="flex flex-wrap my-6 lg:-mx-6">
            {% for testimonial in testimonials | limit(3) %}
            <div class="w-full mb-4 lg:w-1/3 lg:px-6">
                <div class="card h-full">
                    <div class="p-4">
                        <h2 class="text-xl separator-center">{{ testimonial.name }}</h2>
                        <p>
                            {{ testimonial.body }}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="container overflow-hidden">
        <div class="cell small-12 separator-center">
			<h3>Our Sponsors</h3>
			<p>Our Partners on Deck</p>
		</div>

        <div class="flex flex-wrap -mx-4 mb-6">
            {% for levels in sponsors %}
            {% for sponsor in levels.sponsors %}
            <div class="w-1/2 md:w-1/3 lg:w-1/4 p-4">
                <div class="card h-full flex justify-center items-center p-4">
                    <img src="/static/sponsors/{{ sponsor.image }}" alt="{{ sponsor.name }}" class="">
                </div>
            </div>
            {% endfor %}
            {% endfor %}
        </div>
    </div>

    <div class="container">

		<h3 class="separator-center">The Latest On Instagram</h3>

        <div class="card p-4 text-center mb-4">
            <p>
                We like to keep the community updated with what's going on at SwimMac.
                Check out our Instagram page for more great photos.
            </p>
            <a class="button ghost" href="https://www.instagram.com/swimmac_1977/?hl=en" target="_blank" rel="noopener">
                SwimMAC on Instagram
            </a>
        </div>

        <div class="embedsocial-hashtag" data-ref="3b23b8779dc22934ec5d160061084545af094c73">
            <a class="feed-powered-by-es" href="https://embedsocial.com/social-media-aggregator/" target="_blank" title="Powered by EmbedSocial">
                Powered by EmbedSocial<span>→</span>
            </a>
        </div>

        <script>
        (function(d, s, id){
            var js;
            if (d.getElementById(id)) {return;}
            js = d.createElement(s);
            js.id = id;
            js.src = "https://embedsocial.com/cdn/ht.js";
            d.getElementsByTagName("head")[0].appendChild(js);
        }(document, "script", "EmbedSocialHashtagScript"));
        </script>
    </div>

</main>