---
layout: base.njk
title: Home
name: Home
---
<main id="main" class="bg-gray-100">
    <div class="hero hero--home bg-secondary-light">
        <div class="container mx-auto p-6 text-center text-gray-900">
            <h1 class="text-4xl">Build Lifelong Experiences</h1>
            <p class="leading-normal my-4 text-xl">
                Create friendships and develop skills guided by mentors and coaches you trust.
            </p>
        </div>
    </div>

</main>