---
layout : base.njk
title : A Tribute to Kathy McKee
name : kathy-mckee
---
<main id="main" class="bg-gray-100 overflow-hidden">
    {# <div class="bg-black">
        <img src="/static/banners/kathy-tribute-banner--mobile.jpg" class="md:hidden" alt="In Tribute to Coach Kathy McKee"/>
        <img src="/static/banners/kathy-tribute-banner--desktop.jpg" class="hidden md:block" alt="In Tribute to Coach Kathy McKee"/>
    </div> #}

    <img src="/static/kathy-memorial.jpeg" class="mx-auto md:hidden"/>
    <img src="/static/kathy-memorial--desktop.jpg" class="mx-auto hidden md:block"/>

    <div class="container mb-6">

        <div class="flex flex-wrap justify-center">
            <div class="card p-4 my-6 flex-grow">
                <h2 class="text-xl">Memorial Location - Monday June 19th 3:00pm</h2>
                <div class="responsive-embed widescreen margin-top-1" markdown="1">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3354.8154584525337!2d-80.85023131022419!3d35.49968475147375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8856aa3660859ddd%3A0xa6292bc48586c975!2s102%20N%20Main%20St%2C%20Davidson%2C%20NC%2028036!5e0!3m2!1sen!2sus!4v1686100542713!5m2!1sen!2sus" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>

            <div class="pl-4 my-6 flex-shrink">
                <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FSwimMACAlumni%2Fposts%2Fpfbid0wEdwewVnDkQX3WjBYcBcGuykiJyVAAzLzuF4KUWWDJGtutHbimRfKAqyz7Mnh4Spl&show_text=true&width=500" width="500" height="486" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </div>
        </div>

        <div class="card p-4">
            <h3>Contribute to the Kathy McKee Memorial Fund in Memory of Kathy</h3>
            <p>In lieu of flowers, help us carry on Kathy's legacy by giving to The Kathy McKee Memorial Fund.</p>
            <a href="https://everloved.com/life-of/kathy-mckee/donate/" target="_blank" class="button">Donate Now</a>
        </div>

        <div class="card p-6 my-6">
            <p class="lead bg-gray-200 p-8 leading-relaxed">
                Coach Kathy McKee, a name synonymous with excellence and dedication
                in the world of swimming. Throughout her illustrious career, Coach McKee has guided swimmers of all levels, from
                pre-competitive beginners to national-level athletes. Her impact on the sport is immeasurable, and her tireless efforts
                have helped shape the future of swimming.
            </p>

            <div class="md:float-right md:w-1/2 md:ml-4">
                <div class="responsive-embed widescreen margin-top-1" markdown="1">
                    <iframe class="youtube-player" type="text/html" src="https://www.youtube.com/embed/IQniGzseI5E?version=3&amp;rel=1&amp;fs=1&amp;autohide=2&amp;showsearch=0&amp;showinfo=1&amp;iv_load_policy=1&amp;wmode=transparent" allowfullscreen="true"></iframe>
                </div>
            </div>

            <p>Coach McKee's journey began in 1977 at Dynamo Swim Club, where she coached for 17 remarkable years. During her time at Dynamo,
                she played a pivotal role in developing Olympians, national champions, and even American record holders.
                Swimmers like Eric Wunderlich, Carlton Bruner, and Mary Ellen Blanchard owe much of their success to Coach McKee's
                mentorship and guidance.</p>

            <p>In 1989, Dynamo Swim Club achieved a historic milestone by winning the National Women's Championship, and every swimmer
                on that triumphant team had the privilege of being coached by Kathy McKee during their formative years. Such an achievement
                is a testament to her exceptional coaching abilities and the profound impact she had on the athletes she worked with.</p>

            <p>Coach McKee's coaching journey continued in 1994 when she joined SwimMAC in Charlotte, North Carolina. Kathy continued to
                make significant contributions to the swimming community. She nurtured and developed swimmers who went on to represent
                the USA National Junior Team, showcasing her ability to guide athletes to the highest levels of competition.
                Her dedication and expertise led to her being selected as a coach for the 2007 National Junior Team, a well-deserved
                recognition of her exceptional coaching skills.</p>

            <div class="md:float-right md:w-1/2 md:ml-4">
                <div class="responsive-embed widescreen margin-top-1" markdown="1">
                    <iframe class="youtube-player" type="text/html" src="https://www.youtube.com/embed/ii-1P3nLqSI?version=3&amp;rel=1&amp;fs=1&amp;autohide=2&amp;showsearch=0&amp;showinfo=1&amp;iv_load_policy=1&amp;wmode=transparent" allowfullscreen="true"></iframe>
                </div>
            </div>

            <p>In addition to her accomplishments at Dynamo and SwimMAC, Coach McKee made an indelible mark during her tenure at the
                North Carolina Aquatic Club (NCAC) from 2012 to 2017. It was during this period that she was honored as the
                North Carolina Swimming Age Group Coach of the Year in 2014. Coach McKee played a pivotal role in helping NCAC swimmers
                achieve remarkable feats, including setting team and state records and producing a member of the National Junior Team.
                On four different occasions Kathy was named the Georgia Age Group Coach of the Year.
                In 2019 Kathy McKee was inducted into the Georgia Aquatic Hall of Fame.</p>

            <p>Coach McKee's influence extended beyond the pool deck. Kathy was a kind and compassionate friend and mentor to many.
                She served on numerous committees with USA Swimming, North Carolina Swimming, and Georgia Swimming, showcasing her dedication
                to the betterment of the sport as a whole. Her expertise and insights were highly regarded, leading to her appointment to
                the ASCA Board for six years. Coach McKee's passion for sharing knowledge also saw her speak at the World Clinic
                on multiple occasions, as well as at various clinics both in the United States and internationally.
                Her contributions as a coach and educator have made a lasting impact on the swimming community worldwide.</p>

            <p>Coach Kathy McKee stands as one of the leading age group coaches in the country. Her legacy is not just measured by the
                trophies and accolades earned by her swimmers, but also by the hundreds of athletes she has developed who went on to
                compete at the Junior and Senior national levels. Her dedication, expertise, and unwavering commitment to the sport have
                paved the way for future generations of swimmers to achieve their dreams.</p>

            <p>As we pay tribute to Coach Kathy McKee, we celebrate her remarkable career, her passion for coaching, and her unwavering
                commitment to the sport of swimming. Her influence will continue to be felt for years to come, and her legacy will forever
                inspire swimmers and coaches alike to strive for excellence in and out of the water.</p>

            <p class="lead">Kathy McKee, You will live on in our hearts forever.</p>
        </div>

        <div class="relative" x-data="{ openModal:false, formRow: {} }"
            x-init="loadMessages = function(){
                fetch(`/.netlify/functions/get-form-submissions`)
                .then(response => response.json())
                .then(submissions => {
                    // Process the submissions
                    return formRow = submissions
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }">
            <h2 class="separator-left">Rememberance Board</h2>

            <div x-show="!openModal" x-transition.opacity>
                <button class="button md:absolute top-0 right-0" x-on:click="openModal = true">Add a Memory</button>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">

                    <template x-for="(item, index) in formRow" :key="index">
                        <div class="card p-4">
                            <p class="text-xl text-gray-500" x-text="item.name"></p>
                            <p x-text="item.body"></p>
                        </div>
                    </template>
                </div>
            </div>

            <div class="bg-white w-full p-4" x-show="openModal" x-transition.opacity>
                <h3>Share a Memory</h3>
                <p>Post a special memory, thought or message about Kathy.</p>
                <div x-data="memoryFormData()" x-init="$refs.nameInput.focus()">
                    <form name="kathy-message" x-on:submit="submitKathyMemoryForm" method="POST" data-netlify="true" netlify-honeypot="bot-field">
                        <div class="mb-6">
                            <label class="block" for="name">Your Name</label>
                            <input class="w-full" id="name" type="text" name="name" autocomplete="name" required="required" x-ref="nameInput">
                        </div>

                        <div class="mb-6">
                            <label class="block" for="message">Message</label>
                            <textarea rows="8" class="w-full" id="message" name="message" required="required"></textarea>
                        </div>

                        <div class="hidden">
                            <label>Not for humans:
                            <input name="bot-field"/></label>
                        </div>

                        <div class="mb-6">
                            <button class="button" type="submit">Submit</button>  <button class="button ghost ml-4" type="button" x-on:click="openModal = false">Cancel</button>
                        </div>
                    </form>
                </div>

                <script>
                    function memoryFormSubmission(myForm){
                        myForm.innerHTML = `<div class="text-center">
                        <h3>Thank You</h3>
                        <p>Your memory has been added.</p>
                        <div><button x-on:click="openModal = false; setTimeout(() => loadMessages(), 3000)" class="button">View the Memory Board</button></div>
                        </div>`;
                    }

                    function memoryFormData() {
                        return {
                            submitKathyMemoryForm(event) {
                                event.preventDefault();
                                const myForm = event.target;
                                const formData = new FormData(myForm);

                                fetch("/", {
                                    method: "POST",
                                    headers: { "Content-Type": "application/x-www-form-urlencoded" },
                                    body: new URLSearchParams(formData).toString(),
                                }).then(() => memoryFormSubmission(myForm)).catch((error) => alert(error));
                            }
                        }
                    }
                </script>
            </div>
        </div>
    </div>
</main>

