---
layout : base.njk
title : Public Lap Swim
---
{% set pages = collections.pages %}

<main id="main" class="bg-gray-100">

    {% banner title %}

    <div class="container py-6">

        <div class="bg-yellow-100 p-6 my-6 text-center">
            <h3>COVID-19 Update</h3>
            <p>Due to the Corona Virus, for the safety of our members and staff our pool is closed until further notice.
            Please check back periodically for updates. We apologize for any inconvenience. Thank you.</p>
        </div>

        {% for content in pages %}
        {% if content.data.title === "Lap Swim" %}

        {{ content.templateContent | safe }}
        {% endif %}
        {% endfor %}

    </div>
</main>