---
layout: base.njk
permalink: /news/
---
{% set news = collections.news %}
<main id="main" class="bg-gray-100">

  <div class="container py-6">
    <h2>SwimMAC News</h2>

    <div class="flex flex-wrap -mx-4 mb-6">

      {% for newsItem in news %}
      <div class="w-full md:w-1/2 px-4 pb-4">
        <a href="{{ newsItem.url | url }}" class="card h-full">
          <div class="flex flex-wrap justify-center">
            {% if newsItem.data.image %}
            <div class="w-52 p-4">
              <img src="{{ newsItem.data.image }}" alt="" class="rounded-full mx-auto">
            </div>
            {% endif %}

            <div class="flex-1 p-4">
              <h3>{{ newsItem.data.title }}</h3>
              <p>{{ newsItem.data.postDate | readableDate }}</p>
            </div>
          </div>
        </a>
      </div>
      {% endfor%}

    </div>

  </div>
</main>