---
layout: base.njk
permalink: /our-people/
title: Our People
---
{% set staff = collections.staff %}
<main id="main" class="bg-gray-100">
  {% banner title %}

  <div class="container py-6">

    <h2 class="separator-center">Administration</h2>

    <div class="flex flex-wrap justify-center -m-4 mb-8">
      {% for staffMember in collections.staffOrder %}
        {% if staffMember.data.department == 'administration' %}
          {% include 'staff-card.njk' %}
        {% endif %}
      {% endfor%}
    </div>

    <h2 class="separator-center">Competitive Team Leadership</h2>

    <div class="flex flex-wrap justify-center -m-4 mb-8">
      {% for staffMember in collections.staffOrder %}
        {% if staffMember.data.department and 'competitive-team-leadership' in staffMember.data.department %}
          {% include 'staff-card.njk' %}
        {% endif %}
      {% endfor%}
    </div>

    <h2 class="separator-center">Competitive Team Coaches</h2>

    <div class="flex flex-wrap justify-center -m-4 mb-8">
      {% for staffMember in collections.staffOrder %}
        {% if staffMember.data.department and 'competitive-team-coaches' in staffMember.data.department %}
          {% include 'staff-card.njk' %}
        {% endif %}
      {% endfor%}
    </div>

    <h2 class="separator-center">Swim School</h2>

    <div class="flex flex-wrap justify-center -m-4 mb-8">
      {% for staffMember in collections.staffOrder %}
        {% if staffMember.data.department and 'swim-school' in staffMember.data.department %}
        {% include 'staff-card.njk' %}
        {% endif %}
      {% endfor%}
    </div>

    <h2 class="separator-center">Junior Swim League (JSL), Teen-Fit, &amp; Homeschool</h2>

    <div class="flex flex-wrap justify-center -m-4 mb-8">
        {% for staffMember in collections.staffOrder %}
          {% if staffMember.data.department and 'jsl-teen-fit-homeschool' in staffMember.data.department %}
            {% include 'staff-card.njk' %}
          {% endif %}
        {% endfor%}
    </div>

    <h2 class="separator-center">Masters Coaches</h2>

    <div class="flex flex-wrap justify-center -m-4 mb-8">
        {% for staffMember in collections.staffOrder %}
          {% if staffMember.data.department and 'masters-coaches' in staffMember.data.department %}
            {% include 'staff-card.njk' %}
          {% endif %}
        {% endfor%}
    </div>

    <h2 class="separator-center">Board of Directors</h2>

    <div class="flex flex-wrap justify-center -m-4 mb-8">
        {% for staffMember in collections.staffAlphabetical %}
          {% if staffMember.data.department and 'board' in staffMember.data.department %}
          <div class="w-1/2 md:w-1/3 lg:w-1/5 p-4">
            <div class="card text-center h-full">
              <div class="p-4">
                <h3 class="text-xl text-secondary mb-2">{{ staffMember.data.title }} </h3>
                <p><a href="mailto:{{ staffMember.data.email }}@swimmaccarolina.org">Email</a></p>
              </div>
            </div>
          </div>

          {% endif %}
        {% endfor%}
    </div>

  </div>
</main>