---
layout: base.njk
title : Programs
---

<main id="main" class="bg-gray-100">

  <div class="container py-6">
    <h2>SwimMAC Programs</h2>

      <div class="flex flex-wrap justify-center -mx-4">

        <div class="w-full md:w-1/2 lg:w-1/4 p-4">
          <div class="card h-full">
            <img src="/static/cards/compete.jpg" alt="" class="w-full">
            <div class="p-4">
              <h2>Competitive Teams</h2>
              <ul class="list-none">
                <li>
                  <a href="/compete/seniors/">
                    Seniors <span class="whitespace-nowrap">(ages 15-18)</span>
                  </a>
                </li>
                <li>
                  <a href="/compete/shark/">
                    Shark <span class="whitespace-nowrap">(ages 13-14)</span>
                  </a>
                </li>
                <li>
                  <a href="/compete/dolphin/">
                    Dolphin <span class="whitespace-nowrap">(ages 11-12)</span>
                  </a>
                </li>
                <li>
                  <a href="/compete/marlin/">
                    Marlin <span class="whitespace-nowrap">(ages 10 &amp; under)</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="w-full md:w-1/2 lg:w-1/4 p-4">
          <div class="card h-full">
            <img src="/static/cards/swim-school.jpg" alt="" class="w-full">
            <div class="p-4">
              <h2>Swim School</h2>

              <h3>North Location</h3>
              <ul class="list-none">
                <li>
                  <a href="/swim-school/north/minimac/">
                    Mini-Mac <span class="whitespace-nowrap">(ages 6 months – 2 yrs)</span>
                  </a>
                </li>
                <li>
                  <a href="/swim-school/north/preschool/">
                    Preschool <span class="whitespace-nowrap">(ages 3-5)</span>
                  </a>
                </li>
                <li>
                  <a href="/swim-school/north/grade-school/">
                    Grade School <span class="whitespace-nowrap">(ages 6-12)</span>
                  </a>
                </li>
                <li>
                  <a href="/swim-school/north/teen-lessons/">
                    Teen Lessons <span class="whitespace-nowrap">(ages 12-17)</span>
                  </a>
                </li>
                <li>
                  <a href="/north/adult-lessons/">
                    Adult Lessons
                  </a>
                </li>
              </ul>

              <h3>South Location</h3>
              <ul class="list-none">
                <li>
                  <a href="swim-school/south/minimac/">
                    Mini-Mac <span class="whitespace-nowrap">(ages 6 months – 2 yrs)</span>
                  </a>
                </li>
                <li>
                  <a href="/swim-school/south/preschool/">
                    Preschool <span class="whitespace-nowrap">(ages 3-5)</span>
                  </a>
                </li>
                <li>
                  <a href="/swim-school/south/grade-school/">
                    Grade School <span class="whitespace-nowrap">(ages 6-12)</span>
                  </a>
                </li>
                <li>
                  <a href="/south/adult-lessons/">
                    Adult Lessons
                  </a>
                </li>
              </ul>

            </div>
          </div>
        </div>

        <div class="w-full md:w-1/2 lg:w-1/4 p-4">
          <div class="card h-full">
            <img src="/static/cards/build-skills.jpg" alt="" class="w-full">
            <div class="p-4">
              <h2>Build Skills</h2>
              <ul class="list-none">
                <li>
                  <a href="/mac-fit/">
                    Mac Fit <span class="whitespace-nowrap">(ages 11-18)</span>
                  </a>
                </li>
                <li>
                  <a href="/pre-comp/">
                    Pre-Comp <span class="whitespace-nowrap">(ages 6-12)</span>
                  </a>
                </li>
                <li>
                  <a href="/private-lessons/">
                    Private Lessons
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="w-full md:w-1/2 lg:w-1/4 p-4">
          <div class="card h-full">
            <img src="/static/cards/adult-programs.jpg" alt="" class="w-full">
            <div class="p-4">
              <h2>Adult Programs</h2>
              <ul class="list-none">
                <li>
                  <a href="/adult-programs/adult-group-lessons/">
                    Adult Group Lessons
                  </a>
                </li>
                <li>
                  <a href="/adult-programs/masters/">
                    Masters
                  </a>
                </li>
                <li>
                  <a href="/private-lessons/">
                    Private Lessons
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>

  </div>
</main>