---
layout : base.njk
title : Sponsors
---

<main id="main" class="bg-gray-100 overflow-hidden">

    {% banner title %}

  <div class="container py-6">
        <h2 class="separator-center">Partnering for Great Things</h2>
        <p>
            SwimMAC Carolina is supported by the following partners. As a 501(c)(3) organization, we depend on businesses,
            donors, volunteers, and community partnerships to offer the best possible swimming instruction, fitness,
            and training programs possible.
        </p>
        <p>
            Financial support is always appreciated but donations of services or goods
            go a long way as well.
       </p>
        <p>
            SwimMAC Carolina offers access to a large membership and public opportunities to
            promote your company through signage, advertisement, giveaways, website recognition, e-blasts, and more.
            Some specific opportunities include our flagship meet, the Charlotte UltraSwim, and regional &amp;
            state-hosted meets.
        </p>

        <p><a href="/support-us/">Find out more ways to support us</a>.</p>

        <div class="card p-6">
            <div class="card-section">
                {% for levels in sponsors %}
                <h3 class="separator-center">{{ levels.level | toTitleCase }} Medal Sponsors</h3>

                <div class="flex flex-wrap justify-center">
                    {% for sponsor in levels.sponsors %}
                    <div class="w-1/2 md:w-1/3 lg:w-1/4 p-4">
                        <img class="mx-auto" src="/static/sponsors/{{ sponsor.image }}" alt="{{ sponsor.name }}" >
                    </div>
                    {% endfor %}
                </div>

                {% if loop.index !== sponsors.length %}
                <hr class="my-6">
                {% endif %}
                {% endfor %}
            </div>
        </div>
  </div>

</main>