---
layout : base.njk
title : Sponsors
---

<main id="main" class="bg-gray-100 overflow-hidden">

    {% banner title %}

  <div class="container py-6">
        <h2 class="separator-center">Partnering for Great Things</h2>
        <p>
            SwimMAC Carolina is supported by the following partners. As a 501(c)(3) organization, we depend on businesses,
            donors, volunteers, and community partnerships to offer the best possible swimming instruction, fitness,
            and training programs possible. Financial support is always appreciated but donations of services or goods
            go a long way as well. SwimMAC Carolina offers access to a large membership and public opportunities to
            promote your company through signage, advertisement, giveaways, website recognition, e-blasts, and more.
            Some specific opportunities include our flagship meet, the Charlotte UltraSwim, and regional &amp;
            state-hosted meets.
        </p>

        <p><a href="/support-us/">Find out more ways to support us</a>.</p>

        <div class="card p-6">
            <div class="card-section">
                <h3 class="separator-center">Gold Medal Sponsors</h3>

                <div class="flex flex-wrap">
                    <div class="w-1/2 md:w-1/3 lg:w-1/4 p-4">
                        <img class="mx-auto" src="/static/sponsors/tyr_sports_logo.png" alt="TYR Sports" >
                    </div>
                    <div class="w-1/2 md:w-1/3 lg:w-1/4 p-4">
                        <img class="mx-auto" src="/static/sponsors/NH_Logo.jpg" alt="Nh logo">
                    </div>
                    <div class="w-1/2 md:w-1/3 lg:w-1/4 p-4">
                        <img class="mx-auto" src="/static/sponsors/CRVA.jpg" alt="CRVA logo">
                    </div>
                    <div class="w-1/2 md:w-1/3 lg:w-1/4 p-4">
                        <img class="mx-auto" src="/static/sponsors/HarrisTeeter.jpg" alt="Harristeeter">
                    </div>
                </div>

                <hr>

                <h3 class="separator-center">Silver Medal Sponsors</h3>

                <div class="flex flex-wrap">
                    <div class="w-1/2 md:w-1/3 p-4">
                        <img class="mx-auto" src="/static/sponsors/paddock.jpg" alt="Paddock">
                    </div>
                    <div class="w-1/2 md:w-1/3 p-4">
                        <img class="mx-auto" src="/static/sponsors/charlotte_latin.png" alt="Charlotte latin">
                    </div>
                    <div class="w-1/2 md:w-1/3 p-4">
                        <img class="mx-auto" src="/static/sponsors/shiel_sexton.jpg" alt="Shiel sexton">
                    </div>
                </div>

                <hr>

                <h3 class="separator-center">Bronze Medal Sponsors</h3>

                <img class="block mx-auto m-4" src="/static/sponsors/nothing_but_noodles.png" alt="Nothing but noodles">

            </div>
        </div>
  </div>

</main>