---
layout : base.njk
title : SwimMAC COVID Guidelines & Requirements
---

<main id="main" class="bg-gray-100 overflow-hidden">

    {% banner title %}

    <div class="container py-6">

        <div class="card p-4 lg:px-48">

            <p><strong>Updated: As of 08-18-2021</strong></p>

            <ul>
                <li>Participation in any SwimMAC programming is optional. Parents and swimmers should determine what is in the best
                interest of their family’s health and safety before participating in any programming. MAC respects the decision of
                any family or swimmer that elects not to participate out of health concerns.</li>
                <li>Health and safety are MAC’s top priorities.</li>
                <li>Intentionally and flagrantly not following MAC’s Wellness and COVID policies can result in removal from
                program/practice/competition and/or extended suspension and/or expulsion from the club.</li>
            </ul>

            <p>The below guidelines, policies and procedures will remain in place until further notice. As guidance and regulations
            are altered, MAC will review it policies and procedures and update as required.</p>

            <h2>Protocols for Swimmers or Staff with COVID or Other Communicable Illness Symptoms</h2>

            <ul>
                <li>Swimmers or Staff may not attend practice/work if they:
                    <ul>
                        <li>If a <strong>swimmer or staff tests positive for COVID-19</strong> they MUST remain home until:
                            <ul>
                                <li>It has been at least 10 days* from the start of your symptoms (or the date of test if you don't
                                have symptoms), AND - It has been 24 hours since your fever is completely gone (without using medicine),
                                AND -You are symptom free.</li>
                                <li>Or they have two negative results performed by medical professional of an FDA Authorized COVID-19
                                molecular assay for detection of SARS-CoV-2 RNA from at least two consecutive respiratory specimens
                                collected ≥24 hours apart (total of two negative tests) and have no symptoms, fever free for 24 hours
                                without fever reducing agents.</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>

            <h2>Close Contact with COVID:</h2>

            <p><em>Close contact is defined as: less than 6 feet of a person currently infected with the virus for a for at least
            15 minutes total during a 24-hour period regardless of whether a mask is worn or not.</em></p>

            <ul>
                <li>If a fully vaccinated swimmer or staff had close contact with someone with COVID
                    <ul>
                        <li>Do NOT need to quarantine after contact with someone who had COVID unless they have symptoms.</li>
                        <li>Fully vaccinated people should get tested 3-5 days after their exposure, even if they don’t have symptoms
                        and wear a mask indoors in public for 14 days following exposure or until their test result is negative.</li>
                    </ul>
                </li>
                <li>If an unvaccinated swimmer or staff had close contact with someone with COVID
                    <ul>
                        <li>They may return after they stay home from programming for 10 days after last confirmed close contact exposure
                        and have developed no symptoms or receive a negative test result from an approved FDA COVID-19 test after exposure
                        and are cleared with a note by their medical provider.</li>
                        <li>Reduced Quarantine Options
                            <ul>
                                <li>7 days after receiving a negative test result (test must occur on day 5 or later) and symptom free.</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>

            <h2>Protocols for ALL Swimmers and Staff Before Program/Practice:</h2>

            <ul>
                <li>Any swimmer or staff experiencing any symptoms of any communicable illness (or exposure to someone who has any symptoms)
                will remain at home and seek medical treatment, as needed. Please connect with your coach to get additional information on
                when it is safe to return to swimming.</li>
            </ul>

            <h2>Protocols for Participants and Staff Onsite at a SwimMAC Operated Facility:</h2>

            <ul>
                <li>Swimmers will not enter a MAC programmed facility until 5 minutes before their scheduled program.</li>
                <li>Swimmers will exit the pool and the facility in a timely fashion.</li>
                <li>Parents are permitted to enter the facility with their swimmer. Parents must always remain in the designated
                area and observe parent policies.</li>
                <li>MAC will ensure the facility is being cleaned to the CDC standards.</li>
                <li>Anyone that is of age 2 or older will be required to wear a “face covering” (defined below) before entering any
                    of our facilities. Swimmers will be able to remove face coverings once programming begins but will put them back
                    on when exiting the pool for bathroom breaks or when programming is over and leaving the pool area.
                    Mask must remain on until you exit the facility.
                    <ul>
                        <li>“Face covering” means a covering of the nose and mouth that is secured to the head with ties,
                        straps, or loops over the ears or is simply wrapped around the lower face. A face covering can be made of
                        a variety of synthetic and natural fabrics, including cotton, silk, or linen. Ideally, a face covering has
                        two (2) or more layers. A face covering may be factory-made, sewn by hand, or can be improvised from
                        household items such as scarfs, bandanas, t-shirts, sweatshirts, or towels.</li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</main>