---
layout : base.njk
title : SwimMAC COVID Guidelines & Requirements
---

<main id="main" class="bg-gray-100 overflow-hidden">

    {% banner title %}

    <div class="container py-6">

        <div class="card p-4 lg:px-16">

            <p><strong>Updated: As of 12-30-2021</strong></p>

            <ul>
                <li>Participation in any SwimMAC programming is optional. Parents and swimmers should determine what is in the best
                interest of their family's health and safety before participating in any programming. MAC respects the decision of
                any family or swimmer that elects not to participate out of health concerns.</li>
                <li>Health and safety are MAC's top priorities.</li>
                <li>Intentionally and flagrantly not following MAC's Wellness and COVID policies can result in removal from
                program/practice/competition and/or extended suspension and/or expulsion from the club.</li>
            </ul>

            <p>The below guidelines, policies and procedures will remain in place until further notice. As guidance and regulations
            are altered, MAC will review it policies and procedures and update as required.</p>

            <h2 class="mt-6" id="communicable-illness-protocols">Protocols for Swimmers or Staff with COVID or Other Communicable Illness Symptoms</h2>

            <ul>
                <li>Swimmers or Staff may not attend practice/work if they:
                    <ul>
                        <li><strong>Symptoms:</strong> If a swimmer or staff feels ill, have a temperature above 100.00ºF
                        *(needs to be 24 hours with normal temperature before returning, without the use of fever reducing agents)
                        has a persistent cough, excessive nasal drainage, vomiting, diarrhea, or other communicable illness symptoms.
                        <strong>All symptoms must be gone for 24 hours without use of medicine before returning to SwimMAC.</strong>
                        </li>
                    </ul>
                </li>
            </ul>

            <h2 class="mt-6">Protocols for Swimmers or Staff with a Positive COVID Test</h2>

            <ul>
                <li>Swimmers or Staff may not attend practice/work if they:
                    <ul>
                        <li>If a swimmer or staff tests positive for COVID-19 they MUST remain home until:
                            <ul>
                                <li>It has been at least 5 days* from the start of your symptoms (or the date of test if you don't have symptoms),
                                AND - It has been 24 hours since your fever is completely gone (without using medicine),
                                AND -You are symptom free.
                                </li>
                            </ul>
                        </li>
                    </ul>
                 </li>
            </ul>

            <h2 class="mt-6">Protocols for Swimmers or Staff with Close Contact with COVID:</h2>

            <p><em>Close contact is defined as: less than 6 feet of a person currently infected with the virus for a for at least
            15 minutes total during a 24-hour period regardless of whether a mask is worn or not.</em></p>

            <h3>Swimmers/Staff who are up to date on COVID-19 Vaccinations</h3>
            <p>
                <strong>To determine if you are up to date refer to the chart at
                <a href="https://www.cdc.gov/coronavirus/2019-ncov/vaccines/stay-up-to-date.html" target="_blank">
                    https://www.cdc.gov/coronavirus/2019-ncov/vaccines/stay-up-to-date.html
                </a>
                </strong>
            </p>

            <ul>
                <li>Do NOT need to quarantine after contact with someone who had COVID unless they have
                <a href="https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/symptoms.html" target="_blank">symptoms</a>.
                If symptoms develop, please stay home and do not return to practice/work until they have a negative test.</li>

                <li>Get tested 5 days after their exposure, even if they don't have symptoms and wear a mask indoors in public for 10 days
                following exposure or until their test result is negative.</li>
            </ul>

            <h3>Swimmers/Staff who are NOT up to date on COVID-19 Vaccinations</h3>
            <p>
                <strong>To determine if you are up to date refer to the chart at
                <a href="https://www.cdc.gov/coronavirus/2019-ncov/vaccines/stay-up-to-date.html" target="_blank">
                    https://www.cdc.gov/coronavirus/2019-ncov/vaccines/stay-up-to-date.html
                </a>
                </strong>
            </p>

            <ul>
                <li>They may return after they stay home from programming for <strong>5 days</strong> after last confirmed close contact exposure and
                have developed no symptoms. If symptoms develop, please stay home and do not return to practice/work until they have a negative test.</li>

                <li>Get tested 5 days after their exposure, even if they don't have symptoms and wear a mask indoors in public for
                10 days following exposure or until their test result is negative.</li>
            </ul>

            <h2 class="mt-6">Protocols for ALL Swimmers and Staff Before Program/Practice:</h2>

            <ul>
                <li>Any swimmer or staff experiencing any symptoms of any communicable illness (or exposure to someone who has any symptoms)
                will remain at home and seek medical treatment, as needed. Please connect with your coach to get additional information on
                when it is safe to return to swimming.</li>
            </ul>

            <h2 class="mt-6">Protocols for Participants and Staff Onsite at a SwimMAC Operated Facility:</h2>

            <ul>
                <li>Swimmers will not enter a MAC programmed facility until 5 minutes before their scheduled program.</li>
                <li>Swimmers will exit the pool and the facility in a timely fashion.</li>
                <li>Parents are permitted to enter the facility with their swimmer. Parents must always remain in the designated
                area and observe parent policies.</li>
                <li>MAC will ensure the facility is being cleaned to the CDC standards.</li>
                <li>Masks will be optional for swimmers and staff. It is recommended that if you are 2 years old or older and are not up to date
                with your COVID-19 vaccines, wear a mask indoors in public.
                    <ul>
                        <li>Exclusion: Davidson College. Any swimmer or staff who attends practices are Davidson College is still required to wear a mask.
                         This is a Davidson College regulation.</li>
                    </ul>
                </li>
            </ul>

            <h2 class="mt-6">Protocols for ALL Swimmers and Staff Traveling Internationally:</h2>

            <ul>
                <li>Swimmers and staff who travel internationally must get a PCR Covid test within 3-5 days of returning from travel.</li>
                <li>Swimmers and staff need to self-monitor for symptoms of Covid or any other communicable illness and remain home from practice
                 if symptoms develop (refer to <a href="#communicable-illness-protocols">Covid and Other Communicable Illness Protocols</a>).</li>
            </ul>
        </div>

    </div>
</main>