---
layout: base.njk
title: Thank You
---

<main id="main">
    <div class="container mx-auto max-w-lg px-6 mb-24">
        <h1 class="my-4 text-4xl text-center text-blue-500">Thank You!</h1>
        <p>We have received your message and will get back to you shortly.</p>
    </div>
</main>