---
layout : base.njk
title : Pre-Competitive Program (Pre-Comp 1 & 2)
---

<main id="main" class="bg-gray-100">

    {% banner title, {image: 'jsl.jpg' } %}

    <div class="container py-6">
        <h2>SwimMAC’s Pre-Competitive Program (Pre-Comp 1 & 2)<br>
        (formerly Junior Swim League)</h2>
        <p class="lead">
            Take the next big step in your swimmer’s journey!
            SwimMAC’s Pre-Comp program bridges the gap between swim lessons and year-round competitive swimming.
            Our expert coaches focus on building strong technique, boosting endurance, and growing confidence in all four strokes—all in a fun, team-like environment.
            With practices designed to mirror the structure of a competitive team, Pre-Comp 1 & 2 prepare swimmers to successfully transition onto a competitive swim team.
        </p>

        <div class="flex flex-wrap -mx-4 justify-center">
            <div class="w-full md:w-1/2 lg:w-1/3 p-4">
                <a href="pre-comp-north/" class="card h-full overflow-hidden">
                    <div class="card-image h-64 bg-center bg-cover" style="background-image: url('/static/cards/hffa.jpg');"></div>
                    <div class="text-gray-900 p-4">
                        <h2>Pre-Comp North</h2>
                    </div>
                </a>
            </div>

            <div class="w-full md:w-1/2 lg:w-1/3 p-4">
                <a href="pre-comp-south/" class="card h-full overflow-hidden">
                    <div class="card-image h-64 bg-center bg-cover" style="background-image: url('/static/cards/latin.jpg');"></div>
                    <div class="text-gray-900 p-4">
                        <h2>Pre-Comp South</h2>
                    </div>
                </a>
            </div>
        </div>

    </div>

</main>