---
layout : base.njk
title : Pre-Comp - North
coach:
    name: Jen Bronson
    email: jbronson@swimmaccarolina.org
---

<main id="main" class="bg-gray-100  overflow-hidden">

    {% banner title, {image: 'jsl.jpg' } %}

    <div class="container py-6">
        <p>
            <a href="/">Home</a> /
            <a href="/pre-comp/">Junior Swim League</a> /
            {{ title }}
        </p>

        <h2>SwimMAC's Pre-Competitive Program (Pre-Comp 1 & 2)<br>
        (formerly Junior Swim League)</h2>

        <p class="lead">
            Take the next big step in your swimmer's journey!
            SwimMAC's Pre-Comp program bridges the gap between swim lessons and year-round competitive swimming.
            Our expert coaches focus on building strong technique, boosting endurance, and growing confidence in all four strokes—all in a fun, team-like environment.
            With practices designed to mirror the structure of a competitive team, Pre-Comp 1 & 2 prepare swimmers to successfully transition onto a competitive swim team.
            <br>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSckvg72MxxeObKc-SnV0juRTyleWVAFFz41lcHZOCVy-e31mg/viewform" target="_blank">Please fill out this form to sign up for an evaluation</a>.
        </p>

        <div class="card p-4">
           <div class="flex flex-wrap -mx-4">
                <div class="w-full md:w-1/2 p-4">
                    <h2>Overview</h2>
                    <h3>Pre-Comp 1</h3>
                    <p>6 - 9 year ear old swimmers who can swim:</p>
                    <ul>
                        <li>25 yards freestyle with bilateral side breathing</li>
                        <li>25 yards backstroke with straight leg kicking &amp; body rotation</li>
                        <li>25 yards breaststroke with legal breaststroke kick (feet flexed &amp; toes turned out)</li>
                        <li>25 yards butterfly with general knowledge and beginner concept</li>
                    </ul>

                    <h3>Pre-Comp 2</h3>
                    <p>10 - 13 year old swimmers who can swim</p>
                    <ul>
                        <li>50 yards freestyle with bilateral side breathing</li>
                        <li>50 yards backstroke with straight leg kicking &amp; body rotation</li>
                        <li>50 yards breaststroke with legal breaststroke kick (feet flexed &amp; toes turned out)</li>
                        <li>50 yards butterfly with dolphin kick, knowledge of stroke concept to build on</li>
                        <li>Swimmers must be comfortable diving into the pool</li>
                    </ul>
                </div>

                <div class="w-full md:w-1/2 p-4">
                    <h2>Structure</h2>
                    <ul>
                        <li>Evaluations are held intermittently throughout the year.
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeeXP5tx0rLbDc97S4Gpk7c1Tpe9kkUq_RLcfjny7taKE-7iQ/viewform" class="button" target="_blank">Sign up for an evaluation</a>
                        </li>
                        <li>Classes are 45 minutes long and 1-2 times a week depending on the level</li>
                    </ul>
               </div>

               <div class="w-full p-4">
                    <h2>Pricing</h2>
                    <ul>
                        <li>Annual (September-August) Registration Fees (includes swim cap and t-shirt)
                            <ul class="list-none">
                                <li>$32 for first swimmer</li>
                                <li>$26 for second swimmer</li>
                                <li>$22 for third swimmer</li>
                                <li>Free for fourth+ swimmer</li>
                            </ul>
                        </li>
                        <li>Base Tuition Price
                            <ul class="list-none">
                                <li>$23 per class</li>
                            </ul>
                        </li>
                    </ul>
               </div>
            </div>
        </div>

        <div class="card p-4 mt-4">
            <div class="text-right">
                <a href="https://app3.jackrabbitclass.com/portal/ppLogin.asp?id=541680" class="button button--small mb-3" target="_blank">Portal Login</a>
            </div>

            <h3 class="separator-center">Bridge Program Clinics Calendar</h3>
            <div class="my-8 mx-auto" style="max-width: 800px;">
                <iframe src="https://app3.jackrabbitclass.com/eventcalendar.asp?orgid=541680" width="100%" height="650" scrolling="yes" class="iframe-class" frameborder="0"></iframe>
            </div>

            <h3 class="separator-center">North Region Class Registration</h3>
            <p class="text-center">All swimmers must have passed the G7 level of swim school or completed a successful evaluation.</p>

            {% if jackrabbit.preCompNorth.sessions.length > 0 %}
            {% for session in jackrabbit.preCompNorth.sessions %}
            <h3 class="separator-left mt-12">{{ session.session }}</h3>

            <script src="https://app.jackrabbitclass.com/jr3.0/Openings/OpeningsJS?OrgID={{ jackrabbit.preCompNorth.orgId }}&amp;Session={{ session.session }}&hidecols=Class,Gender,Session,ages&showCols=location,Cat1&style=font-size:16px&sort=days" type="text/javascript"></script>
            {% endfor %}
            {% else %}
                <div class="bg-red-100 border border-red-900 p-4 my-6">
                    There are no scheduled Pre-Comp classes at this time
                </div>
            {% endif %}
        </div>

        <div class="card p-4 mt-4">
            {% coachContact coach.name, coach.email, coach.phone %}
        </div>

        <div class="card p-4 my-6">
            {% include 'hffa-map.njk' %}
        </div>
    </div>

</main>